/**
 * @author : Nimesh Piyumantha
 * @since : 0.1.0
 **/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, #2ED573, #0f2027);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#main-section{
    display: flex;
    left: 270px;
    position: relative;
    flex-direction: column;
}

.buttons {
    display: flex;
    position: relative;
    width: 800px;
    height: 70px;
    top: -170px;
    right: 270px;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
}

.buttons :hover {
    color:#ecf0f1;
    background: #e74c3c;
}

.buttons button{
    height: 55px;
    width: 150px;
    background-color: #ecf0f1;
    box-shadow: 0 -1px 8px 2px #1c1717e8;
    font-size: 1.5rem;
    font-family: Poppins, serif;
    border: none;
    border-radius: 10px;
    font-weight: bolder;
    cursor: pointer;
}

.slider {
    position: relative;
    width: 250px;
    height: 200px;
    transform-style: preserve-3d;
    animation: rotate 30s linear infinite;
}

@keyframes rotate {
    0% {
        transform: perspective(1000px) rotateY(0deg);
    }

    100% {
        transform: perspective(1000px) rotateY(360deg);
    }
}

.slider span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i) * 45deg)) translateZ(350px);
}

.slider span img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-size: cover;
    transition: 2s;
}

.slider span:hover img {
    transform: translateY(-50px) scale(1.2);
    cursor: pointer;
}

@media (max-width: 768px) {
    #main-section {
        left: 220px;
    }

    .buttons {
        width: 600px;
        height: 70px;
        right: 220px;
    }

    .buttons button{
        height: 40px;
        width: 105px;
        font-size: 1.1rem;
    }

    .slider {
        width: 180px;
        height: 150px;
    }

    .slider span {
        transform: rotateY(calc(var(--i) * 45deg)) translateZ(300px);
    }

}

@media (max-width: 425px) {

    #main-section {
        left: 100px;
    }
    .buttons {
        width: 300px;
        height: 40px;
        right: 100px;
    }

    .buttons button{
        height: 30px;
        width: 55px;
        font-size: 0.6rem;
    }

    .slider {
        width: 100px;
        height: 100px;
    }

    .slider span {
        transform: rotateY(calc(var(--i) * 45deg)) translateZ(145px);
    }

}
