/**
 * @author : Nimesh Piyumantha
 * @since : 0.1.0
 **/

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

/*   Header    */
header {
    background: white;
    box-shadow: 0px -1px 8px 2px #1c1717e8;
    position: fixed;
    width: 100%;
    top: 0;
    height: 73px;
    z-index: 2;
}

header > img {
    width: 190px;
    position: relative;
    top: 20px;
    left: 10px;
}

header > nav {
    position: absolute;
    right: 40px;
    top: 0;
    font-size: 24px;
}

header > nav > ul > li {
    display: inline-block;
    cursor: pointer;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    color: rgba(46, 41, 41, 0.96);
    font-size: 19px;
    border-right: 2px solid rgba(46, 41, 41, 0.58);
}

header > nav > ul > li:first-child {
    border-left: 2px solid rgba(46, 41, 41, 0.58);
}

header ul > li:hover a {
    color: rgba(228, 12, 12, 0.89);
}

header ul > li:hover i {
    color: #c21e1e;
}

header ul > li > i {
    padding-right: 6px;
}

header ul > li > a {
    color: rgba(46, 41, 41, 0.96);
    text-decoration: none;
}

/*   Body    */
body > main {
    position: relative;
    margin-top: 73px;
}

/*   Body - Nav   */
main > nav {
    position: absolute;
    background: #24327f;
    top: 0;
    bottom: 0;
    width: 270px;
}

main > nav > ul > li {
    color: white;
    list-style: none;
    padding-top: 40px;
    font-size: 19px;
    cursor: pointer;
}

main > nav > ul > li {
    padding-bottom: 30px;
    text-decoration: none;
    color: white;
    margin-left: 13px;
}

main ul > li:hover a {
    color: #eee309;
}

main ul > li:hover i {
    color: #ff9500;
}

main ul > li > i {
    padding-right: 15px;
    font-size: 20px;
    color: #ccffcd;
}

main ul > li > a {
    color: #ccffcd;
    text-decoration: none;
}

/*   Body -Section  */
main > section {
    margin-left: 270px;
    padding: 10px;
}

/*   Body - Gif   */
main > section > section:first-child {
    height: 300px;
    position: relative;
}

main > section > section:first-child > div {
    position: absolute;
    border: 1px solid rgba(0, 0, 0, 0.33);
    height: 100%;
    width: calc(100%/3);
}

main > section > section:first-child> div:nth-child(1) {
    left: 0;
    background: url("../img/gif.gif");
}

main > section > section > div:nth-child(2) {
    left: calc(100% / 3);
    background: url("../img/gif.gif");
}

main > section > section > div:nth-child(3) {
    right: 0;
    background: url("../img/gif.gif");
}

/*   Body -Section-Paragraph  */
main > section > p {
    color: #2C3E50;
    font-size: 15px;
    font-weight: bolder;
}

/*   Footer    */
body > footer {
    height: 50px;
    background-color: dimgray;
}

body > footer > p {
    margin-top: 0;
    text-align: center;
    padding: 5px;
    color: white;
    font-size: 30px;
    font-weight: bold;
}