/**
 * @author : Nimesh Piyumantha
 * @since : 0.1.0
 **/


body {
    overflow: hidden;
}

/**
*  Sky image style
*/
body > main > section:first-child {
    width: 100vw;
    height: 80vh;
    background: url("/assignment/CSS/Animations/case_4/assets/img/sky.jpg");
    background-size: cover;
    position: relative;
}

/**
* City Animation and keyframes. Style
*/
body > main > section:nth-child(2) {
    width: max-content;
    position: absolute;
    height: 300px;
    top: 290px;
    animation-name: city;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
@keyframes city {
    from {
        margin-left: 0;
    }
    to {
        margin-left: -270vw;
    }
}











