/**
 * @author : Nimesh Piyumantha
 * @since : 0.1.0
 **/


body {
    overflow: hidden;
}

/**
*  Sky image style
*/
body > main > section:first-child {
    width: 100vw;
    height: 80vh;
    background: url("/assignment/CSS/Animations/case_4/assets/img/sky.jpg");
    background-size: cover;
    position: relative;
}

/**
* City Animation and keyframes Style
*/
body > main > section:nth-child(2) {
    width: max-content;
    position: absolute;
    height: 300px;
    top: 290px;
    animation-name: city;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes city {
    from {
        margin-left: 0;
    }
    to {
        margin-left: -270vw;
    }
}

/**
* City and Road Images styles
*/
body > main > section:nth-child(2) > div {
    display: flex;
    width: max-content;
    height: max-content;
}

/**
*  Image Height style
*/
body > main > section:nth-child(2) > div:nth-child(1) {
    height: 38vh;
}

/**
* Road Image style
*/
body > main > section:nth-child(2) > div:nth-child(2) {
    height: 260px;
    top: 200px;
}

/**
* Car Image style
*/
body > main > div:nth-child(3) > img {
    width: 380px;
    height: 180px;
    top: 55vh;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
}

/**
* Car wheel  style
*/
body > main > div:nth-child(4) {
    width: max-content;
    height: 5px;
    top: 36vh;
    bottom: 0;
    left: -11px;
    right: 0;
    margin: auto;
    position: absolute;
}

/**
* Customized Car wheels sizes 1
*/
body > main > div:nth-child(4) > img:nth-child(1) {
    width: 75px;
    height: 75px;
    margin-top: 100px;
    margin-right: 155px;
}

/**
* Customized Car wheels sizes 2
*/
body > main > div:nth-child(4) > img:nth-child(2) {
    width: 75px;
    height: 75px;
}

/**
* Car wheel animation and keyframes style
*/
body > main > div:nth-child(4) > img {
    animation-name: Wheels;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    animation-direction: alternate;
    animation-timing-function: linear;
}

@keyframes Wheels {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(720deg);
    }
    100% {
        transform: rotate(540deg);
    }
}