/**
 * @author : Nimesh Piyumantha
 * @since : 0.1.0
 **/

@media (min-width: 1535px) and (max-width: 1746px) {
    /** Header */
    .head {
        height: 70px;
    }

    label.logo {
        font-size: 35px;
        color: #2C3E50;
        line-height: 80px;
        padding: 0 40px;
    }

    nav ul li a {
        font-size: 30px;
        color: #2C3E50;
        padding: 7px 13px;
        border-radius: 3px;
    }

    /** Main - Home */
    #Home {
        position: relative;
        height: 730px;
        width: 100%;
    }

    /** Main - Home- Type Text */
    .text-size-1 {
        margin-bottom: 0.2rem;
        font-size: 40px;
    }

    .text-size-2 {
        margin-bottom: 0.2rem;
        font-size: 54px;
    }

    .text-size-3 {
        margin-bottom: 0.2rem;
        font-size: 35px;
    }

    /**  Home_Content_Hire me Button */
    .btn-Hire-Me {
        padding: 15px 0 0 20px;
        height: 55px;
        font-size: 25px;
    }

    .button-content {
        position: relative;
        display: inline-block;
        bottom: 370px;
        left: 180px;
    }

    .button-Circle {
        height: 40px;
        width: 40px;
        right: 10px;
        bottom: 8px;
    }

    #arrow_details {
        left: 129px;
        bottom: 15px;
    }

    /**  Home_Content_Social Media Navigation */
    .wrapper .button {
        height: 80px;
        width: 80px;
    }

    .wrapper .button:hover {
        width: 240px;
    }

    .wrapper .button .icon {
        height: 80px;
        width: 80px;
    }

    .wrapper .button .icon i {
        font-size: 30px;
        line-height: 30px;
    }

    .wrapper .button span {
        font-size: 20px;
        margin-left: 10px;
        line-height: 30px;
        transition: all 0.3s ease-out;
    }

    .follow-content {
        bottom: 250px;
        right: 30px;
    }

    .follow-content-text {
        font-size: 40px;
    }

    /**-------------------------------------------- Main - About --------------------------------------------**/
    #About {
        width: 100%;
        height: 2080px;
    }

    /** Main - About Header */
    body > main > section > article h4 {
        font-size: 25px;
    }

    body > main > section > article > h1 {
        font-size: 33px;
    }

    body > main > section > article > h1 > span {
        font-size: 33px;
    }

    body > main > section#About > div:nth-child(3) {
        width: 80px;
    }

    /** Main - About Header Article */
    body > main > section#About > article#paragraphOne p {
        font-size: 24px;
        margin-left: 150px;
        bottom: 40px;
        padding-bottom: 1.5em;
    }

    body > main > section#About > article#paragraphTwo p {
        font-size: 24px;
        margin-left: 150px;
        bottom: 40px;
    }

    /** Main - About Image Section */
    #aboutImg {
        height: 470px;
        width: 350px;
        bottom: 280px;
        left: 930px;
    }

    /** Main - About Section Circle One Div  */
    body > main > section#About > section#image > div#circleOne {
        width: 135px;
        height: 135px;
        bottom: 600px;
        left: 1000px;
    }

    body > main > section#About > section#image > div#circleOne h1 {
        font-size: 30px;
        left: 60px;
        top: 25px;
    }

    body > main > section#About > section#image > div#circleOne h2 {
        font-size: 20px;
        left: 25px;
        top: 7px;
    }

    /** Main - About Section Circle Two Div  */
    body > main > section#About > section#image > div#circleTwo {
        width: 135px;
        height: 135px;
        bottom: 510px;
        left: 1200px;
    }

    body > main > section#About > section#image > div#circleTwo h1 {
        font-size: 30px;
        left: 40px;
        top: 6px;
    }

    body > main > section#About > section#image > div#circleTwo h2 {
        font-size: 20px;
        left: 30px;
        bottom: 8px;
    }

    /** Main - About Section Vector One Div  */
    #vectorOne {
        position: absolute;
        width: 78%;
        height: 460px;
        bottom: 1188px;
        right: 258px;
    }

    /** Main - About Section Vector Two Div  */
    #vectorTwo {
        position: absolute;
        width: 78%;
        height: 460px;
        bottom: 1164px;
        left: 103px;
    }

    /** Main - About Section Vector Star Div  */
    #vectorStar {
        position: relative;
        left: 1000px;
        bottom: 750px;
    }

    /** Main - About Section Article h3 First Child */
    #details {
        position: relative;
        bottom: 490px;
        margin-left: 150px;
    }

    body > main > section#About > article#details > h3:nth-child(1) {
        font-size: 30px;
        margin-bottom: -50px;
    }

    body > main > section#About > article#details > h3:nth-child(1) span {
        font-weight: bold;
    }

    /** Main - About Section Article h3 Second Child */
    body > main > section#About > article#details > h3:nth-child(2) {
        font-size: 30px;
        padding-left: 430px;
        padding-top: 0.5em;
    }

    body > main > section#About > article#details > h3:nth-child(2) span {
        font-weight: bold;
    }

    /** Main - About Section Article h3 Third Child */
    body > main > section#About > article#details > h3:nth-child(3) {
        font-size: 30px;
        margin-bottom: -41px;
    }

    body > main > section#About > article#details > h3:nth-child(3) span {
        font-weight: bold;
    }

    /** Main - About Section Article h3 Fourth Child */
    body > main > section#About > article#details > h3:nth-child(4) {
        font-size: 30px;
        padding-left: 430px;
    }

    body > main > section#About > article#details > h3:nth-child(4) span {
        font-weight: bold;
    }

    /** Main - About Section Article h3 Fifth Child */
    body > main > section#About > article#details > h3:nth-child(5) {
        font-size: 30px;
        margin-bottom: -41px;
    }

    body > main > section#About > article#details > h3:nth-child(5) span {
        font-weight: bold;
    }

    /** Main - About Section Article h3 Sixth Child */
    body > main > section#About > article#details > h3:nth-child(6) {
        font-size: 30px;
        padding-left: 430px;
    }

    body > main > section#About > article#details > h3:nth-child(6) span {
        font-weight: bold;
    }

    /** Main - About Section Article h3 Seventh Child */
    body > main > section#About > article#details > h3:nth-child(7) {
        font-size: 30px;
        margin-bottom: -41px;
    }

    body > main > section#About > article#details > h3:nth-child(7) span {
        font-weight: bold;
    }

    /** Main - About Section Article h3 Eight Child */
    body > main > section#About > article#details > h3:nth-child(8) {
        font-size: 30px;
        padding-left: 430px;
    }

    body > main > section#About > article#details > h3:nth-child(8) span {
        font-weight: bold;
    }

    /** Main - About Section Article h3 Ninth Child */
    body > main > section#About > article#details > h3:nth-child(9) {
        font-size: 30px;
        margin-bottom: -41px;
    }

    body > main > section#About > article#details > h3:nth-child(9) span {
        font-weight: bold;
    }

    /** Main - About Section Article h3 Tenth Child */
    body > main > section#About > article#details > h3:nth-child(10) {
        font-size: 30px;
        padding-left: 430px;
    }

    body > main > section#About > article#details > h3:nth-child(10) span {
        font-weight: bold;
    }

    /** Main - About Download CV Button */
    .btn-DownloadTwo {
        padding: 15px 0 0 20px;
        height: 55px;
        font-size: 25px;
    }

    .downloadCv_Button {
        position: relative;
        display: inline-block;
        bottom: 380px;
        left: 480px;
    }

    .button-CircleTwo {
        height: 40px;
        width: 40px;
        right: 10px;
        bottom: 8px;
    }

    #download_arrow {
        left: 24px;
    }

    /** Main - About Hire Me Button */
    .btn-Hire-MeTwo {
        padding: 15px 0 0 20px;
        height: 55px;
        font-size: 25px;
    }

    .hireMe_Button {
        position: relative;
        display: inline-block;
        bottom: 55px;
        left: 370px;
    }

    .button-CircleThree {
        height: 40px;
        width: 40px;
        right: 10px;
        bottom: 8px;
    }

    #HireMe_arrow {
        left: 129px;
        top: 15px;
    }

    /** Main - About Section Educational Section */
    body > main > section#About > section#education > article > h4 {
        font-size: 33px;
        margin-top: -220px;
    }

    /** Main -  About Section Educational Section Underline */
    body > main > section#About > section#education > div:nth-child(2) {
        left: 680px;
    }

    body > main > section#About > section#education > div:nth-child(3) {
        left: 680px;
    }

    /** Main -  About Section Educational Section */
    /** Main -  About Section Educational Section Ordinary Level Section */
    #education {
        width: 100%;
        height: 100px;
    }

    #Ordinary {
        top: 100px;
        left: 0;
        width: calc(100% / 2);
        height: 420px;
    }

    #education_1 {
        top: -85px;
        right: 210px;
    }

    body > main > section#About > section#education > section#Ordinary > div:nth-child(2) {
        height: 219px;
        width: 3px;
        right: 265px;
        top: 125px;
    }

    body > main > section#About > section#education > section#Ordinary > div:nth-child(3) {
        height: 50px;
        width: 200px;
        right: 210px;
        bottom: 110px;
    }

    body > main > section#About > section#education > section#Ordinary > h3#OFirst {
        font-size: 30px;
        right: 390px;
        bottom: 125px;
    }

    body > main > section#About > section#education > section#Ordinary > h3#OSecond {
        font-size: 28px;
        left: 170px;
        bottom: 160px;
    }

    body > main > section#About > section#education > section#Ordinary > h3#OSecond span {
        font-size: 24px;
    }

    body > main > section#About > section#education > section#Ordinary > p {
        font-size: 26px;
        left: 180px;
        bottom: 140px;
    }

    /** Main -  About Section Educational Section Advanced Level Section **/
    #Advanced {
        left: -60px;
        bottom: 9px;
        width: calc(100% / 2);
        height: 420px;
    }

    body > main > section#About > section#education > section#Advanced > div:nth-child(2) {
        top: 210px;
        left: 55px;
    }

    body > main > section#About > section#education > section#Advanced > div:nth-child(3) {
        left: 110px;
        bottom: 25px;
    }

    body > main > section#About > section#education > section#Advanced > h3#AFirst {
        right: 77px;
        bottom: 38px;
        font-size: 30px;
    }

    body > main > section#About > section#education > section#Advanced > h3#ASecond {
        font-size: 28px;
        left: 233px;
        bottom: 12px;
    }

    body > main > section#About > section#education > section#Advanced > h3#ASecond span {
        font-size: 24px;
    }

    body > main > section#About > section#education > section#Advanced > p {
        font-size: 26px;
        left: 241px;
        top: 13px;
    }

    /** Main -  About Section Educational Section HND Level Section **/
    #HNDLevel {
        bottom: 835px;
        left: 710px;
        width: calc(100% / 2);
        height: 420px;
    }

    body > main > section#About > section#education > section#HNDLevel > div:nth-child(2) {
        height: 219px;
        width: 3px;
        left: 2px;
        top: 220px;
    }

    body > main > section#About > section#education > section#HNDLevel > div:nth-child(3) {
        height: 50px;
        width: 200px;
        left: 60px;
        bottom: 15px;
    }

    body > main > section#About > section#education > section#HNDLevel > h3#HFirst {
        font-size: 30px;
        right: 120px;
        bottom: 30px;
    }

    body > main > section#About > section#education > section#HNDLevel > h3#HSecond {
        font-size: 28px;
        left: 177px;
        top: 1px;
    }

    body > main > section#About > section#education > section#HNDLevel > h3#HSecond span {
        font-size: 24px;
    }

    body > main > section#About > section#education > section#HNDLevel > p {
        font-size: 26px;
        left: 189px;
        top: 20px;
    }

    /** Main -  About Section Educational Section Degree Level Section **/
    #DegreeLevel {
        bottom: 849px;
        left: 710px;
        width: calc(100% / 2);
        height: 420px;
    }

    body > main > section#About > section#education > section#DegreeLevel > div:nth-child(2) {
        height: 219px;
        width: 3px;
        top: 210px;
        left: 2px;
    }

    body > main > section#About > section#education > section#DegreeLevel > div:nth-child(3) {
        bottom: 24px;
    }

    body > main > section#About > section#education > section#DegreeLevel > h3#DFirst {
        font-size: 30px;
        right: 126px;
        bottom: 37px;
    }

    body > main > section#About > section#education > section#DegreeLevel > h3#DSecond {
        font-size: 26px;
        left: 178px;
        top: -7px;
    }

    body > main > section#About > section#education > section#DegreeLevel > h3#DSecond span {
        font-size: 24px;
    }

    body > main > section#About > section#education > section#DegreeLevel > p {
        font-size: 26px;
        left: 189px;
        top: 11px;
    }

    /** Main - About Section Educational Section Designs */
    /**  Top Circle Group 1*/
    body > main > section#About > section#design > div#circle1 {
        height: 60px;
        width: 60px;
        bottom: 110px;
        left: 160px;
    }

    body > main > section#About > section#design > div#circle2 {
        height: 60px;
        width: 60px;
        bottom: 150px;
        left: 182px;
    }

    /**  Top Circle Group 2*/
    body > main > section#About > section#design > div#circle3 {
        height: 60px;
        width: 60px;
        bottom: 230px;
        left: 1000px;
    }

    body > main > section#About > section#design > div#circle4 {
        height: 60px;
        width: 60px;
        bottom: 271px;
        left: 1027px;
    }

    /** Main - About Section Educational Section Designs bottom Circle */
    /**  Bottom Circle Group 1*/
    body > main > section#About > section#design > div#circle5 {
        height: 60px;
        width: 60px;
        bottom: -464px;
        left: 614px;
    }

    body > main > section#About > section#design > div#circle6 {
        height: 60px;
        width: 60px;
        bottom: -425px;
        left: 642px;
    }

    /**  Bottom Circle Group 2*/
    body > main > section#About > section#design > div#circle7 {
        height: 60px;
        width: 60px;
        top: 340px;
        left: 1421px;
    }

    body > main > section#About > section#design > div#circle8 {
        height: 60px;
        width: 60px;
        bottom: -301px;
        left: 1440px;
    }

    /** Main - About Section Educational Section Designs Center Vector */
    #vector2 {
        width: 500px;
        height: 700px;
        bottom: 485px;
        left: 230px;
    }

    #vector3 {
        width: 500px;
        height: 700px;
        bottom: 485px;
        left: 420px;
    }

    /**-------------------------------------------- Main - Skills --------------------------------------------**/
    /** Main - Skills Header */
    #Skills {
        width: 100%;
        height: 1100px;
    }

    body > main > section#Skills > article > div:nth-child(5) {
        height: 1100px;
    }

    /** Main - Skills About Header */
    body > main > section#Skills > article h4 {
        top: 10px;
    }

    body > main > section#Skills > article > h1 {
        top: 110px;
    }

    /** Main - Skills Header Underline */
    body > main > section#Skills > article > div:nth-child(3) {
        top: 165px;
        left: 45%;
    }

    body > main > section#Skills > article > div:nth-child(4) {
        top: 165px;
        left: 45%;
    }

    /** Main - Skills Header Vector */
    /** Main - Skills Header  */
    body > main > section#Skills > div:nth-child(2) i {
        font-size: 80px;
    }

    /** Main - Skills  Footer */
    body > main > section#Skills > div:nth-child(3) i {
        font-size: 90px;
    }

    /** Main - Skills - Language */
    body > main > section#Skills > section#Language {
        position: absolute;
        left: 220px;
        top: 300px;
        z-index: 1;
    }

    body > main > section#Skills > section#Language > div:first-child {
        width: 429px;
        height: 670px;
    }

    /** Main - Skills - Language Header*/
    body > main > section#Skills > section#Language > div:first-child > div:nth-child(1) {
        width: 300px;
        height: 60px;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
    }

    body > main > section#Skills > section#Language > div:first-child > div:nth-child(1) h1 {
        font-size: 28px;
        margin-top: calc(20px / 2);
    }

    /** Main - Skills - Language First Row */
    body > main > section#Skills > section#Language > div:first-child > div:nth-child(2) {
        width: 350px;
        height: 100px;
        top: 150px;
    }

    body > main > section#Skills > section#Language > div:first-child > div:nth-child(2) > div:nth-child(1) {
        width: 90px;
        height: 90px;
    }

    body > main > section#Skills > section#Language > div:first-child > div:nth-child(2) > div:nth-child(2) {
        width: 90px;
        height: 90px;
        left: 130px;
    }

    body > main > section#Skills > section#Language > div:first-child > div:nth-child(2) > div:nth-child(3) {
        width: 90px;
        height: 90px;
    }

    /** Main - Skills - Language Second Row */
    body > main > section#Skills > section#Language > div:first-child > div:nth-child(3) {
        width: 350px;
        height: 100px;
        top: 180px;
    }

    body > main > section#Skills > section#Language > div:first-child > div:nth-child(3) > div:nth-child(1) {
        width: 90px;
        height: 90px;
    }

    body > main > section#Skills > section#Language > div:first-child > div:nth-child(3) > div:nth-child(2) {
        width: 90px;
        height: 90px;
        left: 130px;
    }

    body > main > section#Skills > section#Language > div:first-child > div:nth-child(3) > div:nth-child(3) {
        width: 90px;
        height: 90px;
    }

    /** Main - Skills - Language Third Row */
    body > main > section#Skills > section#Language > div:first-child > div:nth-child(4) {
        width: 350px;
        height: 100px;
        top: 210px;
    }

    body > main > section#Skills > section#Language > div:first-child > div:nth-child(4) > div:nth-child(1) {
        width: 90px;
        height: 90px;
    }

    body > main > section#Skills > section#Language > div:first-child > div:nth-child(4) > div:nth-child(2) {
        width: 90px;
        height: 90px;
        left: 130px;
    }

    body > main > section#Skills > section#Language > div:first-child > div:nth-child(4) > div:nth-child(3) {
        width: 90px;
        height: 90px;
    }

    /** Main - Skills - Language Fourth Row */
    body > main > section#Skills > section#Language > div:first-child > div:nth-child(5) {
        width: 350px;
        height: 100px;
        top: 240px;
    }

    body > main > section#Skills > section#Language > div:first-child > div:nth-child(5) > div:nth-child(1) {
        width: 90px;
        height: 90px;
    }

    body > main > section#Skills > section#Language > div:first-child > div:nth-child(5) > div:nth-child(2) {
        width: 90px;
        height: 90px;
        left: 130px;
    }

    body > main > section#Skills > section#Language > div:first-child > div:nth-child(5) > div:nth-child(3) {
        width: 90px;
        height: 90px;
    }

    /** Main - Skills - Tool */
    body > main > section#Skills > section#Tool {
        position: absolute;
        left: 900px;
        top: 300px;
        z-index: 1;
    }

    body > main > section#Skills > section#Tool > div:first-child {
        width: 429px;
        height: 670px;
    }

    /** Main - Skills - Tool Header*/
    body > main > section#Skills > section#Tool > div:first-child > div:nth-child(1) {
        width: 300px;
        height: 60px;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
    }

    body > main > section#Skills > section#Tool > div:first-child > div:nth-child(1) h1 {
        font-size: 28px;
        margin-top: calc(20px / 2);
    }

    /** Main - Skills - Tool First Row */
    body > main > section#Skills > section#Tool > div:first-child > div:nth-child(2) {
        width: 350px;
        height: 100px;
        top: 150px;
    }

    body > main > section#Skills > section#Tool > div:first-child > div:nth-child(2) > div:nth-child(1) {
        width: 90px;
        height: 90px;
    }

    body > main > section#Skills > section#Tool > div:first-child > div:nth-child(2) > div:nth-child(2) {
        width: 90px;
        height: 90px;
        left: 130px;
    }

    body > main > section#Skills > section#Tool > div:first-child > div:nth-child(2) > div:nth-child(3) {
        width: 90px;
        height: 90px;
    }

    /** Main - Skills - Tool Second Row */
    body > main > section#Skills > section#Tool > div:first-child > div:nth-child(3) {
        width: 350px;
        height: 100px;
        top: 180px;
    }

    body > main > section#Skills > section#Tool > div:first-child > div:nth-child(3) > div:nth-child(1) {
        width: 90px;
        height: 90px;
    }

    body > main > section#Skills > section#Tool > div:first-child > div:nth-child(3) > div:nth-child(2) {
        width: 90px;
        height: 90px;
        left: 130px;
    }

    body > main > section#Skills > section#Tool > div:first-child > div:nth-child(3) > div:nth-child(3) {
        width: 90px;
        height: 90px;
    }

    /** Main - Skills - Tool Third Row */
    body > main > section#Skills > section#Tool > div:first-child > div:nth-child(4) {
        width: 350px;
        height: 100px;
        top: 210px;
    }

    body > main > section#Skills > section#Tool > div:first-child > div:nth-child(4) > div:nth-child(1) {
        width: 90px;
        height: 90px;
    }

    body > main > section#Skills > section#Tool > div:first-child > div:nth-child(4) > div:nth-child(2) {
        width: 90px;
        height: 90px;
        left: 130px;
    }

    body > main > section#Skills > section#Tool > div:first-child > div:nth-child(4) > div:nth-child(3) {
        width: 90px;
        height: 90px;
    }

    /** Main - Skills - Tool Fourth Row */
    body > main > section#Skills > section#Tool > div:first-child > div:nth-child(5) {
        width: 350px;
        height: 100px;
        top: 240px;
    }

    body > main > section#Skills > section#Tool > div:first-child > div:nth-child(5) > div:nth-child(1) {
        width: 90px;
        height: 90px;
        background-size: 80%;
    }

    body > main > section#Skills > section#Tool > div:first-child > div:nth-child(5) > div:nth-child(2) {
        width: 90px;
        height: 90px;
        left: 130px;
        background-size: 80%;
    }

    body > main > section#Skills > section#Tool > div:first-child > div:nth-child(5) > div:nth-child(3) {
        width: 90px;
        height: 90px;
        background-size: 80%;
    }

    /* Main Vector */
    #skill_main_vector {
        height: 850px;
        width: 1300px;
        left: 140px;
        top: 160px;
    }

    /* Circle 1*/
    #box-circle1 {
        height: 284px;
        width: 190px;
        position: absolute;
        bottom: 90px;
        left: 81px;
    }

    /* Circle 2*/
    #box-circle2 {
        height: 284px;
        width: 190px;
        position: absolute;
        top: 215px;
        left: 1275px;
    }

    /**-------------------------------------------- Main - Gallery --------------------------------------------**/
    /** Main - Gallery Header */
    #Gallery {
        width: 100%;
        height: 1250px;
    }

    /** Main - Gallery Header Vectors */
    body > main > section#Gallery > section#vector > img:nth-child(1) {
        width: 70px;
        height: 130px;
    }

    body > main > section#Gallery > section#vector > img:nth-child(2) {
        width: 130px;
        height: 180px;
    }

    body > main > section#Gallery > section#vector > img:nth-child(3) {
        width: 70px;
        height: 130px;
        bottom: 60px;
    }

    body > main > section#Gallery > section#vector > img:nth-child(4) {
        height: 240px;
        width: 190px;
        top: 384px;
        left: 1200px;
    }

    body > main > section#Gallery > section#vector > img:nth-child(5) {
        height: 240px;
        width: 190px;
        top: -6px;
        left: 30px;
    }

    body > main > section#Gallery > section#image_section {
        width: 1200px;
        height: 920px;
        top: 210px;
    }

    /**-------------------------------------------- Main - Achievements --------------------------------------------**/
    /** Main - Achievements Header */
    #Achievements {
        background: #ECF0F3;
        width: 100%;
        height: 780px;
        position: relative;
    }

    /** Main - Achievements About Header */
    body > main > section#Achievements > article h4 {
        top: 1px;
    }

    body > main > section#Achievements > article > h1 {
        top: 110px;
    }

    /** Main - Achievements Header Underline */
    body > main > section#Achievements > article > div:nth-child(3) {
        top: 160px;
        left: 40%;
    }

    body > main > section#Achievements > article > div:nth-child(4) {
        top: 160px;
        left: 40%;
    }

    /** Main - Achievements Main Image */
    body > main > section#Achievements > section div#images > img:nth-child(1) {
        height: 780px;
    }

    /** Main - Achievements Main Vector */
    body > main > section#Achievements > section div#images > img:nth-child(2) {;
        width: 1250px;
        bottom: 120px;
        left: 70px;
    }

    /** Main - Achievements Star Vector 1 */
    body > main > section#Achievements > section div#images > img:nth-child(3) {
        position: absolute;
        top: 120px;
        left: 50px;
        margin: auto;
    }

    /** Main - Achievements Star Vector 2 */
    body > main > section#Achievements > section div#images > img:nth-child(4) {
        position: absolute;
        bottom: 85px;
        right: 27px;
        margin: auto;
    }

    /**-------------------------------------------- Main - Project --------------------------------------------**/
    #Project {
        width: 100%;
        height: 850px;
        position: relative;
    }

    /** Main - Project Section */
    body > main > section#Project > section#ProjectSection {
        width: 1270px;
        height: 450px;
    }

    /** Main - Project Section Java Projects */
    body > main > section#Project > section#ProjectSection > div:nth-child(1) {
        width: calc(1100px / 3);
        height: 400px;
    }

    /** Main - Project Section Java Projects Image*/
    body > main > section#Project > section#ProjectSection > div:nth-child(1) > img {
        height: 200px;
        width: 300px;
        bottom: 100px;
    }

    /**  Java Projects Button */
    .btn-java_Project {
        padding: 15px 0 0 20px;
        height: 55px;
        font-size: 25px;
    }

    .Java_Projects {
        top: 300px;
        left: 60px;
    }

    .Java_button-Circle {
        height: 40px;
        width: 40px;
        right: 10px;
        bottom: 8px;
    }

    #Java_arrow {
        left: 203px;
        top: 15px;
    }

    /** Main - Project Section HTML Projects */
    body > main > section#Project > section#ProjectSection > div:nth-child(2) {
        width: calc(1100px / 3);
        height: 400px;
        left: 455px;
    }

    /** Main - Project Section HTML Projects Image*/
    body > main > section#Project > section#ProjectSection > div:nth-child(2) > img {
        height: 200px;
        width: 300px;
        bottom: 100px;
    }

    /**  HTML Projects Button */
    .btn-HTML_Project {
        padding: 15px 0 0 20px;
        height: 55px;
        font-size: 25px;
    }

    .HTML_Projects {
        top: 300px;
        left: 60px;
    }

    .HTML_button-Circle {
        height: 40px;
        width: 40px;
        right: 10px;
        bottom: 8px;
    }

    #HTML_arrow {
        left: 205px;
        top: 15px;
    }

    /** Main - Project Section CSS Projects */
    body > main > section#Project > section#ProjectSection > div:nth-child(3) {
        width: calc(1100px / 3);
        height: 400px;
    }

    /** Main - Project Section CSS Projects Image*/
    body > main > section#Project > section#ProjectSection > div:nth-child(3) > img {
        height: 200px;
        width: 300px;
        bottom: 100px;
    }

    /**  HTML Projects Button */
    .btn-CSS_Project {
        padding: 15px 0 0 20px;
        height: 55px;
        font-size: 25px;
    }

    .CSS_Projects {
        top: 300px;
        left: 60px;
    }

    .CSS_button-Circle {
        height: 40px;
        width: 40px;
        right: 10px;
        bottom: 8px;
    }

    #CSS_arrow {
        left: 191px;
        top: 14px;
    }

    /** Main - Project Section Background Designs*/
    /** Vector 1 */
    body > main > section#Project > section#DesignProjects img:nth-child(1) {
        top: 100px;
        width: 80px;
        height: 80px;
    }

    /** Circle Design */
    body > main > section#Project > section#DesignProjects > section > div:nth-child(1) {
        width: 60px;
        height: 60px;
        top: 100px;
        left: 1288px;
    }

    body > main > section#Project > section#DesignProjects > section > div:nth-child(2) {
        width: 60px;
        height: 60px;
        top: 124px;
        left: 1308px;
    }

    /** Vector 2 */
    body > main > section#Project > section#DesignProjects img:nth-child(3) {
        top: 493px;
        left: 470px;
        width: 125px;
    }

    /** Vector 3 */
    body > main > section#Project > section#DesignProjects img:nth-child(4) {
        top: 400px;
        left: 925px;
        width: 125px;
    }

    /** Vector 4 */
    body > main > section#Project > section#DesignProjects img:nth-child(5) {
        top: 695px;
        left: 200px;
    }

    /** Vector 5 */
    body > main > section#Project > section#DesignProjects img:nth-child(6) {
        top: 750px;
        left: 570px;
    }

    /** Vector 6 */
    body > main > section#Project > section#DesignProjects img:nth-child(7) {
        top: 750px;
        left: 1160px;
    }

    /**-------------------------------------------- Main - Services --------------------------------------------**/
    /** Main - Services Header */
    #Services {
        height: 1050px;
    }

    /** Main - Services Background Image*/
    body > main > section#Services > article > div:nth-child(5) {
        height: 1050px;
        top: 0;
    }

    /** Main - Achievements About Header */
    body > main > section#Services > article h4 {
        top: 1px;
    }

    body > main > section#Services > article > h1 {
        top: 110px;
    }

    /** Main - Achievements Header Underline */
    body > main > section#Services > article > div:nth-child(3) {
        top: 160px;
        left: 45%;
    }

    body > main > section#Services > article > div:nth-child(4) {
        top: 160px;
        left: 45%;
    }

    /** Main - Services Background Design Aside one-First Circle*/
    body > main > section#Services > section#ServicesBGDesign > aside:first-child > div:nth-child(1) {
        width: 60px;
        height: 60px;
        left: 45px;
        top: 85px;
    }

    /** Main - Services Background Design Aside one-Second Circle*/
    body > main > section#Services > section#ServicesBGDesign > aside:first-child > div:nth-child(2) {
        width: 60px;
        height: 60px;
        left: 75px;
        top: 104px;
    }

    /** Main - Services Background Design Aside Two-First Circle*/
    body > main > section#Services > section#ServicesBGDesign > aside:nth-child(2) > div:nth-child(1) {
        width: 60px;
        height: 60px;
        right: 151px;
        top: 85px;
    }

    /** Main - Services Background Design Aside Two-Second Circle*/
    body > main > section#Services > section#ServicesBGDesign > aside:nth-child(2) > div:nth-child(2) {
        width: 60px;
        height: 60px;
        right: 121px;
        top: 104px;
    }

    /** Main - Services Background Vector*/
    body > main > section#Services > section#ServicesBGDesign > img {
        width: 1460px;
    }

    /** Main - Services Background Button - Development*/
    body > main > section#Services > section#ServicesButton > div#Development {
        left: 345px;
        top: 270px;
    }

    body > main > section#Services > section#ServicesButton > div#Development > a > button {
        font-size: 25px;
        padding: 18px 30px 18px 30px;
    }

    /** Main - Services Background Button - Design*/
    body > main > section#Services > section#ServicesButton > div#SDesign {
        left: 620px;
        top: 270px;
    }

    body > main > section#Services > section#ServicesButton > div#SDesign > a > button {
        font-size: 25px;
        padding: 18px 70px 18px 70px;
    }

    /** Main - Services Background Button - Marketing*/
    body > main > section#Services > section#ServicesButton > div#Marketing {
        top: 270px;
        left: 890px;
    }

    body > main > section#Services > section#ServicesButton > div#Marketing > a > button {
        font-size: 25px;
        padding: 18px 52px 18px 52px;
    }

    /** Main - Services Development - Section*/
    body > main > section#Services > section#MainSection {
        width: 1200px;
        height: 500px;
        top: 440px;
        z-index: 1;
    }

    /** Main - Services Development - Section - Enterprise Application */
    body > main > section#Services > section#MainSection > div:nth-child(1) {
        width: calc(1400px / 4);
        height: 500px;
    }

    body > main > section#Services > section#MainSection > div:nth-child(1) > div:first-child {
        width: calc(1400px / 4);
        height: 110px;
    }

    body > main > section#Services > section#MainSection > div:nth-child(1) > div:first-child > div:first-child {
        width: 100px;
        height: 100px;
        top: 100px;
    }

    body > main > section#Services > section#MainSection > div:nth-child(1) > div:first-child > div:first-child > i {
        font-size: 50px;
        top: 25px;
        left: 20px;
    }

    body > main > section#Services > section#MainSection > div:nth-child(1) > h2 {
        top: 170px;
        left: 50px;
        font-size: 22px;
    }

    body > main > section#Services > section#MainSection > div:nth-child(1) > p {
        top: 210px;
        left: 40px;
        font-size: 18px;
    }

    /** Main - Services Development - Section - Web Development */
    body > main > section#Services > section#MainSection > div:nth-child(2) {
        width: calc(1400px / 4);
        height: 500px;
        left: 430px;
    }

    body > main > section#Services > section#MainSection > div:nth-child(2) > div:first-child {
        width: calc(1400px / 4);
        height: 110px;
    }

    body > main > section#Services > section#MainSection > div:nth-child(2) > div:first-child > div:first-child {
        width: 100px;
        height: 100px;
        top: 100px;
    }

    body > main > section#Services > section#MainSection > div:nth-child(2) > div:first-child > div:first-child > i {
        font-size: 50px;
        top: 25px;
        left: 20px;
    }

    body > main > section#Services > section#MainSection > div:nth-child(2) > h2 {
        top: 170px;
        left: 50px;
        font-size: 22px;
    }

    body > main > section#Services > section#MainSection > div:nth-child(2) > p {
        top: 210px;
        left: 40px;
        font-size: 18px;
    }

    /** Main - Services Development - Section - App Development */
    body > main > section#Services > section#MainSection > div:nth-child(3) {
        width: calc(1400px / 4);
        height: 500px;
    }

    body > main > section#Services > section#MainSection > div:nth-child(3) > div:first-child {
        width: calc(1400px / 4);
        height: 110px;
    }

    body > main > section#Services > section#MainSection > div:nth-child(3) > div:first-child > div:first-child {
        width: 100px;
        height: 100px;
        top: 100px;
    }

    body > main > section#Services > section#MainSection > div:nth-child(3) > div:first-child > div:first-child > i {
        font-size: 50px;
        top: 25px;
        left: 30px;
    }

    body > main > section#Services > section#MainSection > div:nth-child(3) > h2 {
        top: 170px;
        left: 50px;
        font-size: 22px;
    }

    body > main > section#Services > section#MainSection > div:nth-child(3) > p {
        top: 210px;
        left: 40px;
        font-size: 18px;
    }

    /**-------------------------------------------- Main - Services --------------------------------------------**/
    /** Main - Services Header */
    #HireMe {
        height: 900px;
    }

    /** Main - HireMe Header Underline */
    body > main > section#HireMe > article > div:nth-child(3) {
        top: 155px;
    }

    body > main > section#HireMe > article > div:nth-child(4) {
        top: 160px;
    }

    /** Main - HireMe Section Main */
    body > main > section#HireMe > section#HireMe_Main {
        width: 1300px;
        height: 600px;
    }

    /** Main - HireMe Section Main - Basic*/
    body > main > section#HireMe > section#HireMe_Main > section:nth-child(1) {
        width: calc(1500px / 4);
        height: 480px;
    }

    body > main > section#HireMe > section#HireMe_Main > section:nth-child(1) > div:nth-child(1) {
        width: 250px;
        height: 60px;
    }

    body > main > section#HireMe > section#HireMe_Main > section:nth-child(1) > div:nth-child(1) > h3 {
        font-size: 30px;
        top: 15px;
        left: 145px;
    }

    body > main > section#HireMe > section#HireMe_Main > section:nth-child(1) > h2 {
        font-size: 30px;
        top: 95px;
        left: 95px;
    }

    body > main > section#HireMe > section#HireMe_Main > section:nth-child(1) > h2 > sup {
        font-size: 18px;
    }

    body > main > section#HireMe > section#HireMe_Main > section:nth-child(1) > p {
        font-size: 18px;
        top: 148px;
        left: 72px;
    }

    body > main > section#HireMe > section#HireMe_Main > section:nth-child(1) > div:nth-child(4) {
        width: 220px;
        height: 8px;
        top: 202px;
        left: 78px;
    }

    body > main > section#HireMe > section#HireMe_Main > section:nth-child(1) > p:nth-child(5) {
        font-size: 22px;
        top: 230px;
        left: 65px;
    }

    /** Main - HireMe Section Main -BASIC  Button */
    body > main > section#HireMe > section#HireMe_Main > section:nth-child(1) > div#BASIC {
        position: absolute;
        top: 400px;
        left: 65px;
    }

    body > main > section#HireMe > section#HireMe_Main > section:nth-child(1) > div#BASIC > a > button {
        padding: 12px 12px 0 12px;
        font-size: 25px;
    }

    body > main > section#HireMe > section#HireMe_Main > section:nth-child(1) > div#BASIC > a > button div {
        height: 40px;
        width: 40px;
        bottom: 6px;
    }

    body > main > section#HireMe > section#HireMe_Main > section:nth-child(1) > div#BASIC > a > button i {
        left: 208px;
        top: 14px;
    }

    /** Main - HireMe Section Main - Premium*/
    body > main > section#HireMe > section#HireMe_Main > section:nth-child(2) {
        width: calc(1500px / 4);
        height: 480px;
        left: 465px;
    }

    body > main > section#HireMe > section#HireMe_Main > section:nth-child(2) > div:nth-child(1) {
        width: 250px;
        height: 60px;
    }

    body > main > section#HireMe > section#HireMe_Main > section:nth-child(2) > div:nth-child(1) > h3 {
        font-size: 30px;
        top: 15px;
        left: 125px;
    }

    body > main > section#HireMe > section#HireMe_Main > section:nth-child(2) > h2 {
        font-size: 30px;
        top: 95px;
        left: 95px;
    }

    body > main > section#HireMe > section#HireMe_Main > section:nth-child(2) > h2 > sup {
        font-size: 18px;
    }

    body > main > section#HireMe > section#HireMe_Main > section:nth-child(2) > p {
        font-size: 18px;
        top: 148px;
        left: 72px;
    }

    body > main > section#HireMe > section#HireMe_Main > section:nth-child(2) > div:nth-child(4) {
        width: 220px;
        height: 8px;
        top: 202px;
        left: 78px;
    }

    body > main > section#HireMe > section#HireMe_Main > section:nth-child(2) > p:nth-child(5) {
        font-size: 22px;
        top: 230px;
        left: 65px;
    }

    /** Main - HireMe Section Main -Premium Button */
    body > main > section#HireMe > section#HireMe_Main > section:nth-child(2) > div#PREMIUM {
        position: absolute;
        top: 400px;
        left: 65px;
    }

    body > main > section#HireMe > section#HireMe_Main > section:nth-child(2) > div#PREMIUM > a > button {
        padding: 12px 12px 0 12px;
        font-size: 25px;
    }

    body > main > section#HireMe > section#HireMe_Main > section:nth-child(2) > div#PREMIUM > a > button div {
        height: 40px;
        width: 40px;
        bottom: 6px;
    }

    body > main > section#HireMe > section#HireMe_Main > section:nth-child(2) > div#PREMIUM > a > button i {
        left: 208px;
        top: 14px;
    }

    /** Main - HireMe Section Main - ADVANCED*/
    body > main > section#HireMe > section#HireMe_Main > section:nth-child(3) {
        width: calc(1500px / 4);
        height: 480px;
    }

    body > main > section#HireMe > section#HireMe_Main > section:nth-child(3) > div:nth-child(1) {
        width: 250px;
        height: 60px;
    }

    body > main > section#HireMe > section#HireMe_Main > section:nth-child(3) > div:nth-child(1) > h3 {
        font-size: 30px;
        top: 15px;
        left: 112px;
    }

    body > main > section#HireMe > section#HireMe_Main > section:nth-child(3) > h2 {
        font-size: 30px;
        top: 95px;
        left: 95px;
    }

    body > main > section#HireMe > section#HireMe_Main > section:nth-child(3) > h2 > sup {
        font-size: 18px;
    }

    body > main > section#HireMe > section#HireMe_Main > section:nth-child(3) > p {
        font-size: 18px;
        top: 148px;
        left: 72px;
    }

    body > main > section#HireMe > section#HireMe_Main > section:nth-child(3) > div:nth-child(4) {
        width: 220px;
        height: 8px;
        top: 202px;
        left: 78px;
    }

    body > main > section#HireMe > section#HireMe_Main > section:nth-child(3) > p:nth-child(5) {
        font-size: 22px;
        top: 230px;
        left: 65px;
    }

    /** Main - HireMe Section Main - ADVANCED Button */
    body > main > section#HireMe > section#HireMe_Main > section:nth-child(3) > div#ADVANCE {
        position: absolute;
        top: 400px;
        left: 65px;
    }

    body > main > section#HireMe > section#HireMe_Main > section:nth-child(3) > div#ADVANCE > a > button {
        padding: 12px 12px 0 12px;
        font-size: 25px;
    }

    body > main > section#HireMe > section#HireMe_Main > section:nth-child(3) > div#ADVANCE > a > button div {
        height: 40px;
        width: 40px;
        bottom: 6px;
    }

    body > main > section#HireMe > section#HireMe_Main > section:nth-child(3) > div#ADVANCE > a > button i {
        left: 208px;
        top: 14px;
    }

    /** Main - HireMe Section BGDesigns -  Design */
    /*First Group*/
    /** First Circle */
    body > main > section#HireMe > section#BGDesigns > div:nth-child(1) > div:nth-child(1) {
        height: 70px;
        width: 70px;
        top: 110px;
        left: 100px;
    }

    /** Second Circle */
    body > main > section#HireMe > section#BGDesigns > div:nth-child(1) > div:nth-child(2) {
        height: 70px;
        width: 70px;
        background: #2ED573;
        border-radius: 100%;
        opacity: 30%;
        position: absolute;
        top: 135px;
        left: 130px;
        box-shadow: 0 -1px 8px 2px #1c1717e8;
    }

    /** Vector One */
    body > main > section#HireMe > section#BGDesigns > img:nth-child(2) {
        position: absolute;
        width: 120px;
        right: 130px;
        top: 110px;
    }

    /** Vector two */
    body > main > section#HireMe > section#BGDesigns > img:nth-child(3) {
        position: absolute;
        left: 280px;
        bottom: 35px;
    }

    /** Vector three */
    body > main > section#HireMe > section#BGDesigns > img:nth-child(4) {
        left: 850px;
        bottom: 35px;
    }

    /*Second Group*/
    /** First Circle */
    body > main > section#HireMe > section#BGDesigns > div:nth-child(5) > div:nth-child(1) {
        bottom: 75px;
        right: 150px;
    }

    /** Second Circle */
    body > main > section#HireMe > section#BGDesigns > div:nth-child(5) > div:nth-child(2) {
        bottom: 35px;
        right: 130px;
    }

    /**-------------------------------------------- Main - Testimonials --------------------------------------------**/
    /** Main - Testimonials Header */
    #Testimonials {
        height: 1000px;
    }

    body > main > section#Testimonials > article > h1 {
        top: 107px;
    }

    /** Main - Testimonials Header Underline */
    body > main > section#Testimonials > article > div:nth-child(3) {
        left: 39%;
        top: 152px;
    }

    body > main > section#Testimonials > article > div:nth-child(4) {
        left: 39%;
        top: 158px;
    }

    /** Main - Testimonials Client says Section*/
    body > main > section#Testimonials > section:nth-child(3) {
        width: 1000px;
        height: 450px;
        top: 200px;
    }

    /** Main - Testimonials Client says Section Paragraph*/
    body > main > section#Testimonials > section:nth-child(3) > div:nth-child(1) {
        top: -180px;
        width: 780px;
        height: 250px;
    }

    body > main > section#Testimonials > section:nth-child(3) > div:nth-child(1) > p {
        font-size: 30px;
    }

    /** Main - Testimonials Client says Section Image*/
    body > main > section#Testimonials > section:nth-child(3) > div:nth-child(2) > div:nth-child(1) {
        width: 200px;
        height: 200px;
        top: 250px;
    }

    /** Main - Testimonials Client says Section h1,h2*/
    body > main > section#Testimonials > section:nth-child(3) > div:nth-child(2) > div:nth-child(2) {
        top: 250px;
        right: 0;
        left: 390px;
    }

    body > main > section#Testimonials > section:nth-child(3) > div:nth-child(2) > div:nth-child(2) > h2 {
        font-size: 30px;
        font-family: Poppins, serif;
        color: #2C3E50;
    }

    body > main > section#Testimonials > section:nth-child(4) > img:nth-child(7) {
        width: 140px;
        bottom: -562px;
        left: 103px;
    }

    body > main > section#Testimonials > section:nth-child(4) > img:nth-child(8) {
        width: 140px;
        top: 140px;
        right: 108px;
    }

    body > main > section#Testimonials > section:nth-child(4) > img:nth-child(9) {
        width: 140px;
        top: 140px;
        left: 120px;
    }

    body > main > section#Testimonials > section:nth-child(4) > img:nth-child(10) {
        width: 140px;
        bottom: 320px;
        right: 62px;
    }

    body > main > section#Testimonials > section:nth-child(4) > img:nth-child(11) {
        width: 140px;
        top: 420px;
        left: 207px;
    }

    body > main > section#Testimonials > section:nth-child(4) > img:nth-child(12) {
        width: 140px;
        bottom: 84px;
        right: 241px;
    }

    /**-------------------------------------------- Main - Contact --------------------------------------------**/
    /** Main - Contact Header */
    #Contact {
        height: 1000px;
    }

    /** Main - Contact Header Underline */
    body > main > section#Contact > article > div:nth-child(3) {
        top: 150px;
    }

    body > main > section#Contact > article > div:nth-child(4) {
        top: 157px;
    }

    /** Main - Contact Details Box sectioning */
    body > main > section#Contact > section:nth-child(3) {
        width: 513px;
        height: 632px;
        top: 258px;
        left: 199px;
    }

    body > main > section#Contact > section:nth-child(3) > form > input:nth-child(1) {
        width: 360px;
    }

    body > main > section#Contact > section:nth-child(3) > form > input:nth-child(2) {
        width: 360px;
    }

    body > main > section#Contact > section:nth-child(3) > form > input:nth-child(3) {
        width: 360px;
    }

    body > main > section#Contact > section:nth-child(3) > form > textarea:nth-child(4) {
        width: 360px;
    }

    /** Main - Contact Details Button */
    body > main > section#Contact > section:nth-child(3) > div:nth-child(2) {
        top: 536px;
    }

    body > main > section#Contact > section:nth-child(3) > div:nth-child(2) > button {
        padding: 14px 12px 0 12px;
        font-size: 20px;
    }

    body > main > section#Contact > section:nth-child(3) > div:nth-child(2) > button > div {
        bottom: 7px;
    }

    body > main > section#Contact > section:nth-child(3) > div:nth-child(2) > button i {
        left: 182px;
        top: 14px;
        font-size: 25px;
    }

    /** Main - Contact Details Get In Touch */
    body > main > section#Contact > article:nth-child(4) > h2:nth-child(1) {
        font-size: 28px;
        top: 279px;
        right: 587px;
    }

    /** Main - Contact Details Get In Touch Underline */
    body > main > section#Contact > article:nth-child(4) > div:nth-child(2) {
        left: 50.50%;
        top: 320px;
    }

    body > main > section#Contact > article:nth-child(4) > div:nth-child(3) {
        left: 50.50%;
        top: 334px;
    }

    /** Main - Contact Details Get In Touch Section*/
    body > main > section#Contact > section:nth-child(5) {
        width: 513px;
        height: 230px;
        top: 385px;
        right: 205px;
    }

    body > main > section#Contact > section:nth-child(5) > h2:nth-child(1) {
        font-size: 24px;
    }

    /** Main - Contact Details Get In Touch Section - Address*/
    body > main > section#Contact > section:nth-child(5) > div:nth-child(2) {
        width: 406px;
        height: 30px;
        top: 113px;
        left: 100px;
    }

    body > main > section#Contact > section:nth-child(5) > div:nth-child(3) i {
        font-size: 32px;
    }

    body > main > section#Contact > section:nth-child(5) > div:nth-child(3) h3 {
        font-size: 20px;
    }

    /** Main - Contact Details Get In Touch Section - Phone Number*/
    body > main > section#Contact > section:nth-child(5) > div:nth-child(3) {
        width: 406px;
        height: 30px;
        top: 155px;
        left: 100px;
    }

    body > main > section#Contact > section:nth-child(5) > div:nth-child(2) i {
        font-size: 32px;
    }

    body > main > section#Contact > section:nth-child(5) > div:nth-child(2) p {
        font-size: 20px;
    }

    /** Main - Contact Details Get In Touch Section - E-Mail*/
    body > main > section#Contact > section:nth-child(5) > div:nth-child(4) {
        width: 406px;
        height: 30px;
        top: 195px;
        left: 100px;
    }

    body > main > section#Contact > section:nth-child(5) > div:nth-child(4) i {
        font-size: 32px;
    }

    body > main > section#Contact > section:nth-child(5) > div:nth-child(4) h3 {
        font-size: 20px;
    }

    /** Main - Contact Details - Social Media*/
    body > main > section#Contact > nav:nth-child(6) {
        top: 656px;
        right: 130px;
    }

    .social-menu ul {
        left: 289px;
        top: 34px;
    }

    .social-menu ul > li > a > i {
        font-size: 30px;
        top: 12px;
    }

    .social-menu ul > li > a {
        width: 50px;
        height: 50px;
    }

    /** Main - Contact Details - Background Design */
    body > main > section#Contact > section:nth-child(7) > img:nth-child(1) {
        top: 109px;
        left: 320px;
        width: 990px;
    }

    body > main > section#Contact > section:nth-child(7) > div:nth-child(2) {
        width: 50px;
        height: 50px;
        top: 135px;
        left: 477px;
    }

    body > main > section#Contact > section:nth-child(7) > div:nth-child(3) {
        width: 50px;
        height: 50px;
        bottom: 124px;
        right: 181px;
    }

    body > main > section#Contact > section:nth-child(7) > div:nth-child(4) {
        width: 70px;
        height: 70px;
        top: 428px;
        right: 50px;
    }

    body > main > section#Contact > section:nth-child(7) > div:nth-child(5) {
        width: 70px;
        height: 70px;
        bottom: 50px;
        right: 420px;
    }

    body > main > section#Contact > section:nth-child(7) > img:nth-child(6) {
        top: 130px;
        right: 126px;
        margin: auto;
        width: 128px;
    }

    /**-------------------------------------------- Footer Section  --------------------------------------------**/
    body > footer {
        height: 500px;
    }

    body > footer > section:nth-child(1) {
        height: 500px;
    }

    /** Footer Section - About*/
    body > footer > article:nth-child(2) {
        left: 41px;
        width: 395px;
        height: 280px;
    }

    /** Footer Section - Links*/
    body > footer > section:nth-child(3) {
        position: absolute;
        top: 40px;
        left: 458px;
        width: 237px;
        height: 400px;
        z-index: 1;
    }

    /** Footer Section - Social Media*/
    body > footer > section:nth-child(4) {
        position: absolute;
        bottom: 62px;
        left: 94px;
        width: 400px;
        height: 80px;
        z-index: 1;
    }

    /** Footer Section - Get on Touch*/
    body > footer > section:nth-child(5) {
        position: absolute;
        top: 40px;
        right: 395px;
        width: 417px;
        height: 320px;
        z-index: 1;
    }

    /** Footer Section -Quick Contact*/
    body > footer > section:nth-child(6) {
        position: absolute;
        top: 40px;
        right: 15px;
        width: 357px;
        height: 320px;
    }
}