/**
 * @author : Nimesh Piyumantha
 * @since : 0.1.0
 **/

@media (max-width: 1536px) {
    /** Header */

    .head {
        height: 70px;
    }

    label.logo {
        font-size: 35px;
        color: #2C3E50;
        line-height: 80px;
        padding: 0 40px;
    }

    nav ul li a {
        font-size: 30px;
        color: #2C3E50;
        padding: 7px 13px;
        border-radius: 3px;
    }

    /** Main - Home */
    #Home {
        position: relative;
        height: 730px;
        width: 100%;
    }

    /** Main - Home- Type Text */
    .text-size-1 {
        margin-bottom: 0.2rem;
        font-size: 40px;
    }

    .text-size-2 {
        margin-bottom: 0.2rem;
        font-size: 54px;
    }

    .text-size-3 {
        margin-bottom: 0.2rem;
        font-size: 35px;
    }

    /**  Home_Content_Hire me Button */
    .btn-Hire-Me {
        padding: 15px 0 0 20px;
        height: 55px;
        font-size: 25px;
    }

    .button-content {
        position: relative;
        display: inline-block;
        bottom: 370px;
        left: 180px;
    }

    .button-Circle {
        height: 40px;
        width: 40px;
        right: 10px;
        bottom: 8px;
    }

    #arrow_details {
        left: 129px;
        bottom: 15px;
    }

    /**  Home_Content_Social Media Navigation */
    .wrapper .button {
        height: 80px;
        width: 80px;
    }

    .wrapper .button:hover {
        width: 240px;
    }

    .wrapper .button .icon {
        height: 80px;
        width: 80px;
    }

    .wrapper .button .icon i {
        font-size: 30px;
        line-height: 30px;
    }

    .wrapper .button span {
        font-size: 20px;
        margin-left: 10px;
        line-height: 30px;
        transition: all 0.3s ease-out;
    }

    .follow-content {
        bottom: 250px;
        right: 30px;
    }

    .follow-content-text {
        font-size: 40px;
    }

    /**-------------------------------------------- Main - About --------------------------------------------**/
    #About {
        width: 100%;
        height: 2080px;
    }

    /** Main - About Header */
    body > main > section > article h4 {
        font-size: 25px;
    }

    body > main > section > article > h1 {
        font-size: 33px;
    }

    body > main > section > article > h1 > span {
        font-size: 33px;
    }

    body > main > section#About > div:nth-child(3) {
        width: 80px;
    }

    /** Main - About Header Article */
    body > main > section#About > article#paragraphOne p {
        font-size: 24px;
        margin-left: 150px;
        bottom: 40px;
        padding-bottom: 1.5em;
    }

    body > main > section#About > article#paragraphTwo p {
        font-size: 24px;
        margin-left: 150px;
        bottom: 40px;
    }

    /** Main - About Image Section */
    #aboutImg {
        height: 470px;
        width: 350px;
        bottom: 280px;
        left: 930px;
    }

    /** Main - About Section Circle One Div  */
    body > main > section#About > section#image > div#circleOne {
        width: 135px;
        height: 135px;
        bottom: 600px;
        left: 1000px;
    }

    body > main > section#About > section#image > div#circleOne h1 {
        font-size: 30px;
        left: 60px;
        top: 25px;
    }

    body > main > section#About > section#image > div#circleOne h2 {
        font-size: 20px;
        left: 25px;
        top: 7px;
    }

    /** Main - About Section Circle Two Div  */
    body > main > section#About > section#image > div#circleTwo {
        width: 135px;
        height: 135px;
        bottom: 510px;
        left: 1200px;
    }

    body > main > section#About > section#image > div#circleTwo h1 {
        font-size: 30px;
        left: 40px;
        top: 6px;
    }

    body > main > section#About > section#image > div#circleTwo h2 {
        font-size: 20px;
        left: 30px;
        bottom: 8px;
    }

    /** Main - About Section Vector One Div  */
    #vectorOne {
        position: absolute;
        width: 78%;
        height: 460px;
        bottom: 1188px;
        right: 258px;
    }

    /** Main - About Section Vector Two Div  */
    #vectorTwo {
        position: absolute;
        width: 78%;
        height: 460px;
        bottom: 1164px;
        left: 103px;
    }

    /** Main - About Section Vector Star Div  */
    #vectorStar {
        position: relative;
        left: 1000px;
        bottom: 750px;
    }

    /** Main - About Section Article h3 First Child */
    #details {
        position: relative;
        bottom: 490px;
        margin-left: 150px;
    }

    body > main > section#About > article#details > h3:nth-child(1) {
        font-size: 30px;
        margin-bottom: -50px;
    }

    body > main > section#About > article#details > h3:nth-child(1) span {
        font-weight: bold;
    }

    /** Main - About Section Article h3 Second Child */
    body > main > section#About > article#details > h3:nth-child(2) {
        font-size: 30px;
        padding-left: 430px;
        padding-top: 0.5em;
    }

    body > main > section#About > article#details > h3:nth-child(2) span {
        font-weight: bold;
    }

    /** Main - About Section Article h3 Third Child */
    body > main > section#About > article#details > h3:nth-child(3) {
        font-size: 30px;
        margin-bottom: -41px;
    }

    body > main > section#About > article#details > h3:nth-child(3) span {
        font-weight: bold;
    }

    /** Main - About Section Article h3 Fourth Child */
    body > main > section#About > article#details > h3:nth-child(4) {
        font-size: 30px;
        padding-left: 430px;
    }

    body > main > section#About > article#details > h3:nth-child(4) span {
        font-weight: bold;
    }

    /** Main - About Section Article h3 Fifth Child */
    body > main > section#About > article#details > h3:nth-child(5) {
        font-size: 30px;
        margin-bottom: -41px;
    }

    body > main > section#About > article#details > h3:nth-child(5) span {
        font-weight: bold;
    }

    /** Main - About Section Article h3 Sixth Child */
    body > main > section#About > article#details > h3:nth-child(6) {
        font-size: 30px;
        padding-left: 430px;
    }

    body > main > section#About > article#details > h3:nth-child(6) span {
        font-weight: bold;
    }

    /** Main - About Section Article h3 Seventh Child */
    body > main > section#About > article#details > h3:nth-child(7) {
        font-size: 30px;
        margin-bottom: -41px;
    }

    body > main > section#About > article#details > h3:nth-child(7) span {
        font-weight: bold;
    }

    /** Main - About Section Article h3 Eight Child */
    body > main > section#About > article#details > h3:nth-child(8) {
        font-size: 30px;
        padding-left: 430px;
    }

    body > main > section#About > article#details > h3:nth-child(8) span {
        font-weight: bold;
    }

    /** Main - About Section Article h3 Ninth Child */
    body > main > section#About > article#details > h3:nth-child(9) {
        font-size: 30px;
        margin-bottom: -41px;
    }

    body > main > section#About > article#details > h3:nth-child(9) span {
        font-weight: bold;
    }

    /** Main - About Section Article h3 Tenth Child */
    body > main > section#About > article#details > h3:nth-child(10) {
        font-size: 30px;
        padding-left: 430px;
    }

    body > main > section#About > article#details > h3:nth-child(10) span {
        font-weight: bold;
    }

    /** Main - About Download CV Button */
    .btn-DownloadTwo {
        padding: 15px 0 0 20px;
        height: 55px;
        font-size: 25px;
    }

    .downloadCv_Button {
        position: relative;
        display: inline-block;
        bottom: 380px;
        left: 480px;
    }

    .button-CircleTwo {
        height: 40px;
        width: 40px;
        right: 10px;
        bottom: 8px;
    }

    #download_arrow {
        left: 24px;
    }

    /** Main - About Hire Me Button */
    .btn-Hire-MeTwo {
        padding: 15px 0 0 20px;
        height: 55px;
        font-size: 25px;
    }

    .hireMe_Button {
        position: relative;
        display: inline-block;
        bottom: 55px;
        left: 370px;
    }

    .button-CircleThree {
        height: 40px;
        width: 40px;
        right: 10px;
        bottom: 8px;
    }

    #HireMe_arrow {
        left: 129px;
        top: 15px;
    }

    /** Main - About Section Educational Section */
    body > main > section#About > section#education > article > h4 {
        font-size: 33px;
        margin-top: -220px;
    }

    /** Main -  About Section Educational Section Underline */
    body > main > section#About > section#education > div:nth-child(2) {
        left: 680px;
    }

    body > main > section#About > section#education > div:nth-child(3) {
        left: 680px;
    }

    /** Main -  About Section Educational Section */
    /** Main -  About Section Educational Section Ordinary Level Section */
    #education {
        width: 100%;
        height: 100px;
    }

    #Ordinary {
        top: 100px;
        left: 0;
        width: calc(100% / 2);
        height: 420px;
    }

    #education_1 {
        top: -85px;
        right: 210px;
    }

    body > main > section#About > section#education > section#Ordinary > div:nth-child(2) {
        height: 219px;
        width: 3px;
        right: 265px;
        top: 125px;
    }

    body > main > section#About > section#education > section#Ordinary > div:nth-child(3) {
        height: 50px;
        width: 200px;
        right: 210px;
        bottom: 110px;
    }

    body > main > section#About > section#education > section#Ordinary > h3#OFirst {
        font-size: 30px;
        right: 390px;
        bottom: 125px;
    }

    body > main > section#About > section#education > section#Ordinary > h3#OSecond {
        font-size: 28px;
        left: 170px;
        bottom: 160px;
    }

    body > main > section#About > section#education > section#Ordinary > h3#OSecond span {
        font-size: 24px;
    }

    body > main > section#About > section#education > section#Ordinary > p {
        font-size: 26px;
        left: 180px;
        bottom: 140px;
    }

    /** Main -  About Section Educational Section Advanced Level Section **/
    #Advanced {
        left: -60px;
        bottom: 9px;
        width: calc(100% / 2);
        height: 420px;
    }

    body > main > section#About > section#education > section#Advanced > div:nth-child(2) {
        top: 210px;
        left: 55px;
    }

    body > main > section#About > section#education > section#Advanced > div:nth-child(3) {
        left: 110px;
        bottom: 25px;
    }

    body > main > section#About > section#education > section#Advanced > h3#AFirst {
        right: 77px;
        bottom: 38px;
        font-size: 30px;
    }

    body > main > section#About > section#education > section#Advanced > h3#ASecond {
        font-size: 28px;
        left: 233px;
        bottom: 12px;
    }

    body > main > section#About > section#education > section#Advanced > h3#ASecond span {
        font-size: 24px;
    }

    body > main > section#About > section#education > section#Advanced > p {
        font-size: 26px;
        left: 241px;
        top: 13px;
    }

    /** Main -  About Section Educational Section HND Level Section **/
    #HNDLevel {
        bottom: 835px;
        left: 710px;
        width: calc(100% / 2);
        height: 420px;
    }

    body > main > section#About > section#education > section#HNDLevel > div:nth-child(2) {
        height: 219px;
        width: 3px;
        left: 2px;
        top: 220px;
    }

    body > main > section#About > section#education > section#HNDLevel > div:nth-child(3) {
        height: 50px;
        width: 200px;
        left: 60px;
        bottom: 15px;
    }

    body > main > section#About > section#education > section#HNDLevel > h3#HFirst {
        font-size: 30px;
        right: 120px;
        bottom: 30px;
    }

    body > main > section#About > section#education > section#HNDLevel > h3#HSecond {
        font-size: 28px;
        left: 177px;
        top: 1px;
    }

    body > main > section#About > section#education > section#HNDLevel > h3#HSecond span {
        font-size: 24px;
    }

    body > main > section#About > section#education > section#HNDLevel > p {
        font-size: 26px;
        left: 189px;
        top: 20px;
    }

    /** Main -  About Section Educational Section Degree Level Section **/
    #DegreeLevel {
        bottom: 849px;
        left: 710px;
        width: calc(100% / 2);
        height: 420px;
    }

    body > main > section#About > section#education > section#DegreeLevel > div:nth-child(2) {
        height: 219px;
        width: 3px;
        top: 210px;
        left: 2px;
    }

    body > main > section#About > section#education > section#DegreeLevel > div:nth-child(3) {
        bottom: 24px;
    }

    body > main > section#About > section#education > section#DegreeLevel > h3#DFirst {
        font-size: 30px;
        right: 126px;
        bottom: 37px;
    }

    body > main > section#About > section#education > section#DegreeLevel > h3#DSecond {
        font-size: 26px;
        left: 178px;
        top: -7px;
    }

    body > main > section#About > section#education > section#DegreeLevel > h3#DSecond span {
        font-size: 24px;
    }

    body > main > section#About > section#education > section#DegreeLevel > p {
        font-size: 26px;
        left: 189px;
        top: 11px;
    }

    /** Main - About Section Educational Section Designs */
    /**  Top Circle Group 1*/
    body > main > section#About > section#design > div#circle1 {
        height: 60px;
        width: 60px;
        bottom: 110px;
        left: 160px;
    }

    body > main > section#About > section#design > div#circle2 {
        height: 60px;
        width: 60px;
        bottom: 150px;
        left: 182px;
    }

    /**  Top Circle Group 2*/
    body > main > section#About > section#design > div#circle3 {
        height: 60px;
        width: 60px;
        bottom: 230px;
        left: 1000px;
    }

    body > main > section#About > section#design > div#circle4 {
        height: 60px;
        width: 60px;
        bottom: 271px;
        left: 1027px;
    }

    /** Main - About Section Educational Section Designs bottom Circle */
    /**  Bottom Circle Group 1*/
    body > main > section#About > section#design > div#circle5 {
        height: 60px;
        width: 60px;
        bottom: -464px;
        left: 614px;
    }

    body > main > section#About > section#design > div#circle6 {
        height: 60px;
        width: 60px;
        bottom: -425px;
        left: 642px;
    }

    /**  Bottom Circle Group 2*/
    body > main > section#About > section#design > div#circle7 {
        height: 60px;
        width: 60px;
        top: 340px;
        left: 1421px;
    }

    body > main > section#About > section#design > div#circle8 {
        height: 60px;
        width: 60px;
        bottom: -301px;
        left: 1440px;
    }

    /** Main - About Section Educational Section Designs Center Vector */
    #vector2 {
        width: 500px;
        height: 700px;
        bottom: 485px;
        left: 230px;
    }

    #vector3 {
        width: 500px;
        height: 700px;
        bottom: 485px;
        left: 420px;
    }

    /**-------------------------------------------- Main - Skills --------------------------------------------**/
    /** Main - Skills Header */
    #Skills {
        width: 100%;
        height: 1100px;
    }

    /** Main - Skills Header Vector */
    /** Main - Skills Header  */
    body > main > section#Skills > div:nth-child(2) i {
        font-size: 80px;
    }

    /** Main - Skills  Footer */
    body > main > section#Skills > div:nth-child(3) i {
        font-size: 90px;
    }

    /** Main - Skills - Language */
    body > main > section#Skills > section#Language {
        position: absolute;
        left: 220px;
        top: 300px;
        z-index: 1;
    }

    body > main > section#Skills > section#Language > div:first-child {
        width: 429px;
        height: 670px;
    }

    /** Main - Skills - Language Header*/
    body > main > section#Skills > section#Language > div:first-child > div:nth-child(1) {
        width: 300px;
        height: 60px;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
    }

    body > main > section#Skills > section#Language > div:first-child > div:nth-child(1) h1 {
        font-size: 28px;
        margin-top: calc(20px / 2);
    }

    /** Main - Skills - Language First Row */
    body > main > section#Skills > section#Language > div:first-child > div:nth-child(2) {
        width: 350px;
        height: 100px;
        top: 150px;
    }

    body > main > section#Skills > section#Language > div:first-child > div:nth-child(2) > div:nth-child(1) {
        width: 90px;
        height: 90px;
    }

    body > main > section#Skills > section#Language > div:first-child > div:nth-child(2) > div:nth-child(2) {
        width: 90px;
        height: 90px;
        left: 130px;
    }

    body > main > section#Skills > section#Language > div:first-child > div:nth-child(2) > div:nth-child(3) {
        width: 90px;
        height: 90px;
    }

    /** Main - Skills - Language Second Row */
    body > main > section#Skills > section#Language > div:first-child > div:nth-child(3) {
        width: 350px;
        height: 100px;
        top: 180px;
    }

    body > main > section#Skills > section#Language > div:first-child > div:nth-child(3) > div:nth-child(1) {
        width: 90px;
        height: 90px;
    }

    body > main > section#Skills > section#Language > div:first-child > div:nth-child(3) > div:nth-child(2) {
        width: 90px;
        height: 90px;
        left: 130px;
    }

    body > main > section#Skills > section#Language > div:first-child > div:nth-child(3) > div:nth-child(3) {
        width: 90px;
        height: 90px;
    }

    /** Main - Skills - Language Third Row */
    body > main > section#Skills > section#Language > div:first-child > div:nth-child(4) {
        width: 350px;
        height: 100px;
        top: 210px;
    }

    body > main > section#Skills > section#Language > div:first-child > div:nth-child(4) > div:nth-child(1) {
        width: 90px;
        height: 90px;
    }

    body > main > section#Skills > section#Language > div:first-child > div:nth-child(4) > div:nth-child(2) {
        width: 90px;
        height: 90px;
        left: 130px;
    }

    body > main > section#Skills > section#Language > div:first-child > div:nth-child(4) > div:nth-child(3) {
        width: 90px;
        height: 90px;
    }

    /** Main - Skills - Language Fourth Row */
    body > main > section#Skills > section#Language > div:first-child > div:nth-child(5) {
        width: 350px;
        height: 100px;
        top: 240px;
    }

    body > main > section#Skills > section#Language > div:first-child > div:nth-child(5) > div:nth-child(1) {
        width: 90px;
        height: 90px;
    }

    body > main > section#Skills > section#Language > div:first-child > div:nth-child(5) > div:nth-child(2) {
        width: 90px;
        height: 90px;
        left: 130px;
    }

    body > main > section#Skills > section#Language > div:first-child > div:nth-child(5) > div:nth-child(3) {
        width: 90px;
        height: 90px;
    }

    /** Main - Skills - Tool */
    body > main > section#Skills > section#Tool {
        position: absolute;
        left: 900px;
        top: 300px;
        z-index: 1;
    }

    body > main > section#Skills > section#Tool > div:first-child {
        width: 429px;
        height: 670px;
    }

    /** Main - Skills - Tool Header*/
    body > main > section#Skills > section#Tool > div:first-child > div:nth-child(1) {
        width: 300px;
        height: 60px;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
    }

    body > main > section#Skills > section#Tool > div:first-child > div:nth-child(1) h1 {
        font-size: 28px;
        margin-top: calc(20px / 2);
    }

    /** Main - Skills - Tool First Row */
    body > main > section#Skills > section#Tool > div:first-child > div:nth-child(2) {
        width: 350px;
        height: 100px;
        top: 150px;
    }

    body > main > section#Skills > section#Tool > div:first-child > div:nth-child(2) > div:nth-child(1) {
        width: 90px;
        height: 90px;
    }

    body > main > section#Skills > section#Tool > div:first-child > div:nth-child(2) > div:nth-child(2) {
        width: 90px;
        height: 90px;
        left: 130px;
    }

    body > main > section#Skills > section#Tool > div:first-child > div:nth-child(2) > div:nth-child(3) {
        width: 90px;
        height: 90px;
    }

    /** Main - Skills - Tool Second Row */
    body > main > section#Skills > section#Tool > div:first-child > div:nth-child(3) {
        width: 350px;
        height: 100px;
        top: 180px;
    }

    body > main > section#Skills > section#Tool > div:first-child > div:nth-child(3) > div:nth-child(1) {
        width: 90px;
        height: 90px;
    }

    body > main > section#Skills > section#Tool > div:first-child > div:nth-child(3) > div:nth-child(2) {
        width: 90px;
        height: 90px;
        left: 130px;
    }

    body > main > section#Skills > section#Tool > div:first-child > div:nth-child(3) > div:nth-child(3) {
        width: 90px;
        height: 90px;
    }

    /** Main - Skills - Tool Third Row */
    body > main > section#Skills > section#Tool > div:first-child > div:nth-child(4) {
        width: 350px;
        height: 100px;
        top: 210px;
    }

    body > main > section#Skills > section#Tool > div:first-child > div:nth-child(4) > div:nth-child(1) {
        width: 90px;
        height: 90px;
    }

    body > main > section#Skills > section#Tool > div:first-child > div:nth-child(4) > div:nth-child(2) {
        width: 90px;
        height: 90px;
        left: 130px;
    }

    body > main > section#Skills > section#Tool > div:first-child > div:nth-child(4) > div:nth-child(3) {
        width: 90px;
        height: 90px;
    }

    /** Main - Skills - Tool Fourth Row */
    body > main > section#Skills > section#Tool > div:first-child > div:nth-child(5) {
        width: 350px;
        height: 100px;
        top: 240px;
    }

    body > main > section#Skills > section#Tool > div:first-child > div:nth-child(5) > div:nth-child(1) {
        width: 90px;
        height: 90px;
        background-size: 80%;
    }

    body > main > section#Skills > section#Tool > div:first-child > div:nth-child(5) > div:nth-child(2) {
        width: 90px;
        height: 90px;
        left: 130px;
        background-size: 80%;
    }

    body > main > section#Skills > section#Tool > div:first-child > div:nth-child(5) > div:nth-child(3) {
        width: 90px;
        height: 90px;
        background-size: 80%;
    }

    /* Main Vector */
    #skill_main_vector {
        height: 850px;
        width: 1500px;
        left: 44px;
        top: 160px;
    }

    /* Circle 1*/
    #box-circle1 {
        height: 300px;
        width: 400px;
        position: absolute;
        bottom: 90px;
        left: -27px;
    }

    /* Circle 2*/
    #box-circle2 {
        height: 300px;
        width: 400px;
        position: absolute;
        top: 215px;
        right: -47px;
    }

    /**-------------------------------------------- Main - Gallery --------------------------------------------**/
    /** Main - Gallery Header */
    #Gallery {
        width: 100%;
        height: 1250px;
    }

    /** Main - Gallery Header Vectors */
    body > main > section#Gallery > section#vector > img:nth-child(1) {
        width: 70px;
        height: 130px;
    }

    body > main > section#Gallery > section#vector > img:nth-child(2) {
        width: 130px;
        height: 180px;
    }

    body > main > section#Gallery > section#vector > img:nth-child(3) {
        width: 70px;
        height: 130px;
        bottom: 60px;
    }

    body > main > section#Gallery > section#vector > img:nth-child(4) {
        height: 240px;
        width: 400px;
        top: 384px;
        left: 1160px;
    }

    body > main > section#Gallery > section#vector > img:nth-child(5) {
        height: 240px;
        width: 400px;
        top: -6px;
        left: -75px;
    }

    body > main > section#Gallery > section#image_section {
        width: 1200px;
        height: 920px;
        top: 210px;
    }

}