/**
 * @author : Nimesh Piyumantha
 * @since : 0.1.0
 **/

@media (min-width: 1535px) and (max-width: 1746px) {
    /** Header */
    .head {
        height: 70px;
    }

    label.logo {
        font-size: 35px;
        color: #2C3E50;
        line-height: 80px;
        padding: 0 40px;
    }

    nav ul li a {
        font-size: 30px;
        color: #2C3E50;
        padding: 7px 13px;
        border-radius: 3px;
    }

    /** Main - Home */
    #Home {
        position: relative;
        height: 730px;
        width: 100%;
    }

    /** Main - Home- Main Content */
    body >main >section#Home >section:nth-child(2){
        position: absolute;
        width: 1200px;
        height: 730px;
        top: 157px;
    }

    /** Main - Home- Main Content */
    body >main >section#Home >section:nth-child(2){
        position: absolute;
        width: 1000px;
        height: 650px;
        top: 110px;
        left: 100px;
        justify-content: flex-start;
    }

    body >main >section#Home >section:nth-child(2)>section{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-end;
    }

    body >main >section#Home >section:nth-child(2)>section:nth-child(1){
        height: 300px;
    }
    body >main >section#Home >section:nth-child(2)>section:nth-child(1) >div{
        height: 100px;
        display: flex;
    }

    body >main >section#Home >section:nth-child(2)>section:nth-child(1) >div:nth-child(1) h1{
        font-size: 45px;
    }
    body >main >section#Home >section:nth-child(2)>section:nth-child(1) >div:nth-child(2) h1{
        font-size: 55px;
    }
    body >main >section#Home >section:nth-child(2)>section:nth-child(1) >div:nth-child(3) h1{
        font-size: 30px;
    }

    body >main >section#Home >section:nth-child(2)>section:nth-child(2){
        height: 80px;
        margin-left: 50px;
    }

    /**  Home_Content_Hire me Button */
    .btn-Hire-Me {
        background-color: #2ED573;
        border-radius: 100px;
        box-shadow: 0 -1px 8px 2px #1c1717e8;
        border: none;
        color: #ECF0F3;
        padding: 20px 18px 10px 20px;
        text-align: left;
        text-decoration: none;
        display: inline-block;
        font-size: 30px;
        font-family: Poppins, sans-serif;
        font-weight: bolder;
        cursor: pointer;
    }
    .button-content {
        position: relative;
        display: inline-block;
    }
    .button-Circle {
        height: 45px;
        width: 45px;
        float: right;
        margin-left: 19px;
        background: #F9FAFB;
        border-radius: 50px;
        cursor: pointer;
        position: relative;
        bottom: 5px;
        box-shadow: inset -13px -13px 16px #FFFFFF, inset 13px 13px 16px rgba(13, 39, 80, 0.16);
    }
    #arrow_details {
        color: #2ED573;
        position: absolute;
        left: 157px;
        bottom: 22px;
        z-index: 1;
    }

    body >main >section#Home >section:nth-child(2)>section:nth-child(3){
        height: 200px;
        margin-left: 50px;
        margin-top: 10px;
    }
    /**  Home_Content_Social Media Navigation */
    .wrapper .button {
        display: flex;
        height: 80px;
        width: 80px;
        float: left;
        margin: 0 10px;
        overflow: hidden;
        background: #95A5A6;
        border-radius: 50px;
        cursor: pointer;
        transition: all 0.3s ease-out;
        box-shadow: 0 -1px 8px 2px #1c1717e8;
    }

    .wrapper .button:hover {
        width: 260px;
    }

    .wrapper .button .icon {
        display: inline-block;
        height: 80px;
        width: 80px;
        text-align: center;
        border-radius: 50px;
        box-sizing: border-box;
        line-height: 100px;
        transition: all 0.3s ease-out;
    }

    .wrapper .button:nth-child(1):hover .icon {
        background: #3b5998;
    }
    .wrapper .button:nth-child(2):hover .icon {
        background: #0A66C2;
    }
    .wrapper .button:nth-child(3):hover .icon {
        background: #1DA1F2;
    }
    .wrapper .button:nth-child(4):hover .icon {
        background: #333;
    }
    .wrapper .button:nth-child(5):hover .icon {
        background: #F47F24;
    }

    .wrapper .button .icon i {
        font-size: 30px;
        line-height: 50px;
        transition: all 0.3s ease-out;
        color: #2C3E50;
    }

    .wrapper .button:hover .icon i {
        color: #fff;
    }
    .wrapper .button span {
        font-size: 20px;
        font-weight: bolder;
        line-height: 100px;
        margin-left: 10px;
        transition: all 0.3s ease-out;
    }
    .wrapper .button:nth-child(1) span {
        color: #3b5998;
    }
    .wrapper .button:nth-child(2) span {
        color: #0A66C2;
    }
    .wrapper .button:nth-child(3) span {
        color: #1DA1F2;
    }
    .wrapper .button:nth-child(4) span {
        color: #333;
    }
    .wrapper .button:nth-child(5) span {
        color: #F47F24;
    }

    .follow-content {
        position: relative;
        display: inline-block;
        margin-top: 10px;
    }
    .follow-content-text {
        font-size: 40px;
        font-weight: bolder;
        margin-bottom: 2rem;
    }

    /**-------------------------------------------- Main - About --------------------------------------------**/
    #About {
        width: 100%;
        height: 2080px;
    }

    /** Main - About Header */
    body > main > section > article h4 {
        font-size: 25px;
    }

    body > main > section > article > h1 {
        font-size: 33px;
    }

    body > main > section > article > h1 > span {
        font-size: 33px;
    }

    body > main > section#About > div:nth-child(3) {
        width: 80px;
    }

    /** Main - About Header Article */
    body > main > section#About > article#paragraphOne p {
        font-size: 24px;
        margin-left: 150px;
        bottom: 40px;
        padding-bottom: 1.5em;
    }

    body > main > section#About > article#paragraphTwo p {
        font-size: 24px;
        margin-left: 150px;
        bottom: 40px;
    }

    /** Main - About Image Section */
    #aboutImg {
        height: 470px;
        width: 350px;
        bottom: 280px;
        left: 930px;
    }

    /** Main - About Section Circle One Div  */
    body > main > section#About > section#image > div#circleOne {
        width: 135px;
        height: 135px;
        bottom: 600px;
        left: 1000px;
    }

    body > main > section#About > section#image > div#circleOne h1 {
        font-size: 30px;
        left: 60px;
        top: 25px;
    }

    body > main > section#About > section#image > div#circleOne h2 {
        font-size: 20px;
        left: 25px;
        top: 7px;
    }

    /** Main - About Section Circle Two Div  */
    body > main > section#About > section#image > div#circleTwo {
        width: 135px;
        height: 135px;
        bottom: 510px;
        left: 1200px;
    }

    body > main > section#About > section#image > div#circleTwo h1 {
        font-size: 30px;
        left: 40px;
        top: 6px;
    }

    body > main > section#About > section#image > div#circleTwo h2 {
        font-size: 20px;
        left: 30px;
        bottom: 8px;
    }

    /** Main - About Section Vector One Div  */
    #vectorOne {
        position: absolute;
        width: 78%;
        height: 460px;
        bottom: 1188px;
        right: 258px;
    }

    /** Main - About Section Vector Two Div  */
    #vectorTwo {
        position: absolute;
        width: 78%;
        height: 460px;
        bottom: 1164px;
        left: 103px;
    }

    /** Main - About Section Vector Star Div  */
    #vectorStar {
        position: relative;
        left: 1000px;
        bottom: 750px;
    }

    /** Main - About Section Article h3 First Child */
    #details {
        position: relative;
        bottom: 490px;
        margin-left: 150px;
    }

    body > main > section#About > article#details > h3:nth-child(1) {
        font-size: 30px;
        margin-bottom: -50px;
    }

    body > main > section#About > article#details > h3:nth-child(1) span {
        font-weight: bold;
    }

    /** Main - About Section Article h3 Second Child */
    body > main > section#About > article#details > h3:nth-child(2) {
        font-size: 30px;
        padding-left: 430px;
        padding-top: 0.5em;
    }

    body > main > section#About > article#details > h3:nth-child(2) span {
        font-weight: bold;
    }

    /** Main - About Section Article h3 Third Child */
    body > main > section#About > article#details > h3:nth-child(3) {
        font-size: 30px;
        margin-bottom: -41px;
    }

    body > main > section#About > article#details > h3:nth-child(3) span {
        font-weight: bold;
    }

    /** Main - About Section Article h3 Fourth Child */
    body > main > section#About > article#details > h3:nth-child(4) {
        font-size: 30px;
        padding-left: 430px;
    }

    body > main > section#About > article#details > h3:nth-child(4) span {
        font-weight: bold;
    }

    /** Main - About Section Article h3 Fifth Child */
    body > main > section#About > article#details > h3:nth-child(5) {
        font-size: 30px;
        margin-bottom: -41px;
    }

    body > main > section#About > article#details > h3:nth-child(5) span {
        font-weight: bold;
    }

    /** Main - About Section Article h3 Sixth Child */
    body > main > section#About > article#details > h3:nth-child(6) {
        font-size: 30px;
        padding-left: 430px;
    }

    body > main > section#About > article#details > h3:nth-child(6) span {
        font-weight: bold;
    }

    /** Main - About Section Article h3 Seventh Child */
    body > main > section#About > article#details > h3:nth-child(7) {
        font-size: 30px;
        margin-bottom: -41px;
    }

    body > main > section#About > article#details > h3:nth-child(7) span {
        font-weight: bold;
    }

    /** Main - About Section Article h3 Eight Child */
    body > main > section#About > article#details > h3:nth-child(8) {
        font-size: 30px;
        padding-left: 430px;
    }

    body > main > section#About > article#details > h3:nth-child(8) span {
        font-weight: bold;
    }

    /** Main - About Section Article h3 Ninth Child */
    body > main > section#About > article#details > h3:nth-child(9) {
        font-size: 30px;
        margin-bottom: -41px;
    }

    body > main > section#About > article#details > h3:nth-child(9) span {
        font-weight: bold;
    }

    /** Main - About Section Article h3 Tenth Child */
    body > main > section#About > article#details > h3:nth-child(10) {
        font-size: 30px;
        padding-left: 430px;
    }

    body > main > section#About > article#details > h3:nth-child(10) span {
        font-weight: bold;
    }

    /** Main - About Download CV Button */
    .btn-DownloadTwo {
        padding: 15px 0 0 20px;
        height: 55px;
        font-size: 25px;
    }

    .downloadCv_Button {
        position: relative;
        display: inline-block;
        bottom: 380px;
        left: 480px;
    }

    .button-CircleTwo {
        height: 40px;
        width: 40px;
        right: 10px;
        bottom: 8px;
    }

    #download_arrow {
        left: 24px;
    }

    /** Main - About Hire Me Button */
    .btn-Hire-MeTwo {
        padding: 15px 0 0 20px;
        height: 55px;
        font-size: 25px;
    }

    .hireMe_Button {
        position: relative;
        display: inline-block;
        bottom: 55px;
        left: 370px;
    }

    .button-CircleThree {
        height: 40px;
        width: 40px;
        right: 10px;
        bottom: 8px;
    }

    #HireMe_arrow {
        left: 129px;
        top: 15px;
    }

    /** Main - About Section Educational Section */
    body > main > section#About > section#education > article > h4 {
        font-size: 33px;
        margin-top: -220px;
    }

    /** Main -  About Section Educational Section Underline */
    body > main > section#About > section#education > div:nth-child(2) {
        left: 680px;
    }

    body > main > section#About > section#education > div:nth-child(3) {
        left: 680px;
    }

    /** Main -  About Section Educational Section */
    /** Main -  About Section Educational Section Ordinary Level Section */
    #education {
        width: 100%;
        height: 100px;
    }

    #Ordinary {
        top: 100px;
        left: 0;
        width: calc(100% / 2);
        height: 420px;
    }

    #education_1 {
        top: -85px;
        right: 210px;
    }

    body > main > section#About > section#education > section#Ordinary > div:nth-child(2) {
        height: 219px;
        width: 3px;
        right: 265px;
        top: 125px;
    }

    body > main > section#About > section#education > section#Ordinary > div:nth-child(3) {
        height: 50px;
        width: 200px;
        right: 210px;
        bottom: 110px;
    }

    body > main > section#About > section#education > section#Ordinary > h3#OFirst {
        font-size: 30px;
        right: 390px;
        bottom: 125px;
    }

    body > main > section#About > section#education > section#Ordinary > h3#OSecond {
        font-size: 28px;
        left: 170px;
        bottom: 160px;
    }

    body > main > section#About > section#education > section#Ordinary > h3#OSecond span {
        font-size: 24px;
    }

    body > main > section#About > section#education > section#Ordinary > p {
        font-size: 26px;
        left: 180px;
        bottom: 140px;
    }

    /** Main -  About Section Educational Section Advanced Level Section **/
    #Advanced {
        left: -60px;
        bottom: 9px;
        width: calc(100% / 2);
        height: 420px;
    }

    body > main > section#About > section#education > section#Advanced > div:nth-child(2) {
        top: 210px;
        left: 55px;
    }

    body > main > section#About > section#education > section#Advanced > div:nth-child(3) {
        left: 110px;
        bottom: 25px;
    }

    body > main > section#About > section#education > section#Advanced > h3#AFirst {
        right: 77px;
        bottom: 38px;
        font-size: 30px;
    }

    body > main > section#About > section#education > section#Advanced > h3#ASecond {
        font-size: 28px;
        left: 233px;
        bottom: 12px;
    }

    body > main > section#About > section#education > section#Advanced > h3#ASecond span {
        font-size: 24px;
    }

    body > main > section#About > section#education > section#Advanced > p {
        font-size: 26px;
        left: 241px;
        top: 13px;
    }

    /** Main -  About Section Educational Section HND Level Section **/
    #HNDLevel {
        bottom: 835px;
        left: 710px;
        width: calc(100% / 2);
        height: 420px;
    }

    body > main > section#About > section#education > section#HNDLevel > div:nth-child(2) {
        height: 219px;
        width: 3px;
        left: 2px;
        top: 220px;
    }

    body > main > section#About > section#education > section#HNDLevel > div:nth-child(3) {
        height: 50px;
        width: 200px;
        left: 60px;
        bottom: 15px;
    }

    body > main > section#About > section#education > section#HNDLevel > h3#HFirst {
        font-size: 30px;
        right: 120px;
        bottom: 30px;
    }

    body > main > section#About > section#education > section#HNDLevel > h3#HSecond {
        font-size: 28px;
        left: 177px;
        top: 1px;
    }

    body > main > section#About > section#education > section#HNDLevel > h3#HSecond span {
        font-size: 24px;
    }

    body > main > section#About > section#education > section#HNDLevel > p {
        font-size: 26px;
        left: 189px;
        top: 20px;
    }

    /** Main -  About Section Educational Section Degree Level Section **/
    #DegreeLevel {
        bottom: 849px;
        left: 710px;
        width: calc(100% / 2);
        height: 420px;
    }

    body > main > section#About > section#education > section#DegreeLevel > div:nth-child(2) {
        height: 219px;
        width: 3px;
        top: 210px;
        left: 2px;
    }

    body > main > section#About > section#education > section#DegreeLevel > div:nth-child(3) {
        bottom: 24px;
    }

    body > main > section#About > section#education > section#DegreeLevel > h3#DFirst {
        font-size: 30px;
        right: 126px;
        bottom: 37px;
    }

    body > main > section#About > section#education > section#DegreeLevel > h3#DSecond {
        font-size: 26px;
        left: 178px;
        top: -7px;
    }

    body > main > section#About > section#education > section#DegreeLevel > h3#DSecond span {
        font-size: 24px;
    }

    body > main > section#About > section#education > section#DegreeLevel > p {
        font-size: 26px;
        left: 189px;
        top: 11px;
    }

    /** Main - About Section Educational Section Designs */
    /**  Top Circle Group 1*/
    body > main > section#About > section#design > div#circle1 {
        height: 60px;
        width: 60px;
        bottom: 110px;
        left: 160px;
    }

    body > main > section#About > section#design > div#circle2 {
        height: 60px;
        width: 60px;
        bottom: 150px;
        left: 182px;
    }

    /**  Top Circle Group 2*/
    body > main > section#About > section#design > div#circle3 {
        height: 60px;
        width: 60px;
        bottom: 230px;
        left: 1000px;
    }

    body > main > section#About > section#design > div#circle4 {
        height: 60px;
        width: 60px;
        bottom: 271px;
        left: 1027px;
    }

    /** Main - About Section Educational Section Designs bottom Circle */
    /**  Bottom Circle Group 1*/
    body > main > section#About > section#design > div#circle5 {
        height: 60px;
        width: 60px;
        bottom: -464px;
        left: 614px;
    }

    body > main > section#About > section#design > div#circle6 {
        height: 60px;
        width: 60px;
        bottom: -425px;
        left: 642px;
    }

    /**  Bottom Circle Group 2*/
    body > main > section#About > section#design > div#circle7 {
        height: 60px;
        width: 60px;
        top: 340px;
        left: 1421px;
    }

    body > main > section#About > section#design > div#circle8 {
        height: 60px;
        width: 60px;
        bottom: -301px;
        left: 1440px;
    }

    /** Main - About Section Educational Section Designs Center Vector */
    #vector2 {
        width: 500px;
        height: 700px;
        bottom: 485px;
        left: 230px;
    }

    #vector3 {
        width: 500px;
        height: 700px;
        bottom: 485px;
        left: 420px;
    }

    /**-------------------------------------------- Main - Skills --------------------------------------------**/
    /** Main - Skills Header */
    #Skills {
        width: 100%;
        height: 1100px;
        position: relative;
    }

    section#Skills {
        position: relative;
    }


    body > main > section#Skills > article > div:nth-child(5) {
        height: 1100px;
    }

    /** Main - Skills Header Vector */
    /** Main - Skills Header  */
    body > main > section#Skills > div:nth-child(2) i {
        font-size: 90px;
        left: 40px;
        top: 120px;
    }

    /** Main - Skills  Footer */
    body > main > section#Skills > div:nth-child(3) i {
        font-size: 90px;
        right: 45px;
        bottom: 100px;
    }

    /** Main - Skills - Language */
    body > main > section#Skills > section:nth-child(4) {
        width: 1200px;
        height: 825px;
        top: 247px;
        left: 0;
    }

    body > main > section#Skills > section:nth-child(4) > section#Language > div:first-child {
        width: 460px;
        height: 720px;
    }

    /** Main - Skills - Language Header*/
    body > main > section#Skills > section:nth-child(4) > section#Language > div:first-child > div:nth-child(1) {
        width: 300px;
        height: 60px;
    }

    body > main > section#Skills > section:nth-child(4) > section#Language > div:first-child > div:nth-child(1) h1 {
        font-size: 28px;
        margin-top: calc(20px / 2);
    }

    /** Main - Skills - Language First Row */
    body > main > section#Skills > section:nth-child(4) > section#Language > div:first-child > div:nth-child(2) {
        width: 400px;
        height: 150px;
        top: 135px;
    }

    body > main > section#Skills > section:nth-child(4) > section#Language > div:first-child > div:nth-child(2) > div:nth-child(1) {
        width: 100px;
        height: 100px;
    }

    body > main > section#Skills > section:nth-child(4) > section#Language > div:first-child > div:nth-child(2) > div:nth-child(2) {
        width: 100px;
        height: 100px;
    }

    body > main > section#Skills > section:nth-child(4) > section#Language > div:first-child > div:nth-child(2) > div:nth-child(3) {
        width: 100px;
        height: 100px;
    }

    /** Main - Skills - Language Second Row */
    body > main > section#Skills > section:nth-child(4) > section#Language > div:first-child > div:nth-child(3) {
        width: 400px;
        height: 150px;
        top: 135px;
    }

    body > main > section#Skills > section:nth-child(4) > section#Language > div:first-child > div:nth-child(3) > div:nth-child(1) {
        width: 100px;
        height: 100px;
    }

    body > main > section#Skills > section:nth-child(4) > section#Language > div:first-child > div:nth-child(3) > div:nth-child(2) {
        width: 100px;
        height: 100px;
    }

    body > main > section#Skills > section:nth-child(4) > section#Language > div:first-child > div:nth-child(3) > div:nth-child(3) {
        width: 100px;
        height: 100px;
    }

    /** Main - Skills - Language Third Row */
    body > main > section#Skills > section:nth-child(4) > section#Language > div:first-child > div:nth-child(4) {
        width: 400px;
        height: 150px;
        top: 135px;
    }

    body > main > section#Skills > section:nth-child(4) > section#Language > div:first-child > div:nth-child(4) > div:nth-child(1) {
        width: 100px;
        height: 100px;
    }

    body > main > section#Skills > section:nth-child(4) > section#Language > div:first-child > div:nth-child(4) > div:nth-child(2) {
        width: 100px;
        height: 100px;
    }

    body > main > section#Skills > section:nth-child(4) > section#Language > div:first-child > div:nth-child(4) > div:nth-child(3) {
        width: 100px;
        height: 100px;
    }

    /** Main - Skills - Language Fourth Row */
    body > main > section#Skills > section:nth-child(4) > section#Language > div:first-child > div:nth-child(5) {
        width: 400px;
        height: 110px;
        top: 135px;
    }

    body > main > section#Skills > section:nth-child(4) > section#Language > div:first-child > div:nth-child(5) > div:nth-child(1) {
        width: 100px;
        height: 100px;
    }

    body > main > section#Skills > section:nth-child(4) > section#Language > div:first-child > div:nth-child(5) > div:nth-child(2) {
        width: 100px;
        height: 100px;
    }

    body > main > section#Skills > section:nth-child(4) > section#Language > div:first-child > div:nth-child(5) > div:nth-child(3) {
        width: 100px;
        height: 100px;
    }

    /** Main - Skills - Tool */
    body > main > section#Skills > section:nth-child(4) > section#Tool {
        position: absolute;
        right: 0;
        z-index: 1;
        display: flex;
    }

    body > main > section#Skills > section:nth-child(4) > section#Tool > div:first-child {
        width: 460px;
        height: 720px;
    }

    /** Main - Skills - Language Header*/
    body > main > section#Skills > section:nth-child(4) > section#Tool > div:first-child > div:nth-child(1) {
        width: 300px;
        height: 60px;
    }

    body > main > section#Skills > section:nth-child(4) > section#Tool > div:first-child > div:nth-child(1) h1 {
        font-size: 28px;
        margin-top: calc(20px / 2);
    }

    /** Main - Skills - Language First Row */
    body > main > section#Skills > section:nth-child(4) > section#Tool > div:first-child > div:nth-child(2) {
        width: 400px;
        height: 150px;
        top: 135px;
    }

    body > main > section#Skills > section:nth-child(4) > section#Tool > div:first-child > div:nth-child(2) > div:nth-child(1) {
        width: 100px;
        height: 100px;
    }

    body > main > section#Skills > section:nth-child(4) > section#Tool > div:first-child > div:nth-child(2) > div:nth-child(2) {
        width: 100px;
        height: 100px;
    }

    body > main > section#Skills > section:nth-child(4) > section#Tool > div:first-child > div:nth-child(2) > div:nth-child(3) {
        width: 100px;
        height: 100px;
    }

    /** Main - Skills - Language Second Row */
    body > main > section#Skills > section:nth-child(4) > section#Tool > div:first-child > div:nth-child(3) {
        width: 400px;
        height: 150px;
        top: 135px;
    }

    body > main > section#Skills > section:nth-child(4) > section#Tool > div:first-child > div:nth-child(3) > div:nth-child(1) {
        width: 100px;
        height: 100px;
    }

    body > main > section#Skills > section:nth-child(4) > section#Tool > div:first-child > div:nth-child(3) > div:nth-child(2) {
        width: 100px;
        height: 100px;
    }

    body > main > section#Skills > section:nth-child(4) > section#Tool > div:first-child > div:nth-child(3) > div:nth-child(3) {
        width: 100px;
        height: 100px;
    }

    /** Main - Skills - Language Third Row */
    body > main > section#Skills > section:nth-child(4) > section#Tool > div:first-child > div:nth-child(4) {
        width: 400px;
        height: 150px;
        top: 135px;
    }

    body > main > section#Skills > section:nth-child(4) > section#Tool > div:first-child > div:nth-child(4) > div:nth-child(1) {
        width: 100px;
        height: 100px;
    }

    body > main > section#Skills > section:nth-child(4) > section#Tool > div:first-child > div:nth-child(4) > div:nth-child(2) {
        width: 100px;
        height: 100px;
    }

    body > main > section#Skills > section:nth-child(4) > section#Tool > div:first-child > div:nth-child(4) > div:nth-child(3) {
        width: 100px;
        height: 100px;
    }

    /** Main - Skills - Language Fourth Row */
    body > main > section#Skills > section:nth-child(4) > section#Tool > div:first-child > div:nth-child(5) {
        width: 400px;
        height: 110px;
        top: 135px;
    }

    body > main > section#Skills > section:nth-child(4) > section#Tool > div:first-child > div:nth-child(5) > div:nth-child(1) {
        width: 100px;
        height: 100px;
    }

    body > main > section#Skills > section:nth-child(4) > section#Tool > div:first-child > div:nth-child(5) > div:nth-child(2) {
        width: 100px;
        height: 100px;
    }

    body > main > section#Skills > section:nth-child(4) > section#Tool > div:first-child > div:nth-child(5) > div:nth-child(3) {
        width: 100px;
        height: 100px;
    }

    /* Main Vector */
    #skill_main_vector {
        left: 135px;
        width: 88%;
    }

    /* Circle 1*/
    #box-circle1 {
        position: absolute;
        bottom: 75px;
        left: 28px;
        width: 12%;
    }

    /* Circle 2*/
    #box-circle2 {
        position: absolute;
        top: 188px;
        right: 32px;
        width: 12%;
    }

    /**-------------------------------------------- Main - Gallery --------------------------------------------**/
    /** Main - Gallery Header */
    #Gallery {
        width: 100%;
        height: 1250px;
    }

    /** Main - Gallery Header Vectors */
    body > main > section#Gallery > section#vector > img:nth-child(1) {
        width: 70px;
        height: 130px;
    }

    body > main > section#Gallery > section#vector > img:nth-child(2) {
        width: 130px;
        height: 180px;
    }

    body > main > section#Gallery > section#vector > img:nth-child(3) {
        width: 70px;
        height: 130px;
        bottom: 60px;
    }

    body > main > section#Gallery > section#vector > img:nth-child(4) {
        height: 240px;
        width: 190px;
        top: 384px;
        left: 1200px;
    }

    body > main > section#Gallery > section#vector > img:nth-child(5) {
        height: 240px;
        width: 190px;
        top: -6px;
        left: 30px;
    }

    body > main > section#Gallery > section#image_section {
        width: 1200px;
        height: 920px;
        top: 210px;
    }

    /**-------------------------------------------- Main - Achievements --------------------------------------------**/
    /** Main - Achievements Header */
    #Achievements {
        background: #ECF0F3;
        width: 100%;
        height: 780px;
        position: relative;
    }

    /** Main - Achievements About Header */
    body > main > section#Achievements > article h4 {
        top: 1px;
    }

    body > main > section#Achievements > article > h1 {
        top: 110px;
    }

    /** Main - Achievements Header Underline */
    body > main > section#Achievements > article > div:nth-child(3) {
        top: 160px;
        left: 40%;
    }

    body > main > section#Achievements > article > div:nth-child(4) {
        top: 160px;
        left: 40%;
    }

    /** Main - Achievements Main Image */
    body > main > section#Achievements > section div#images > img:nth-child(1) {
        height: 780px;
    }

    /** Main - Achievements Main Vector */
    body > main > section#Achievements > section div#images > img:nth-child(2) {;
        width: 1250px;
        bottom: 120px;
        left: 70px;
    }

    /** Main - Achievements Star Vector 1 */
    body > main > section#Achievements > section div#images > img:nth-child(3) {
        position: absolute;
        top: 120px;
        left: 50px;
        margin: auto;
    }

    /** Main - Achievements Star Vector 2 */
    body > main > section#Achievements > section div#images > img:nth-child(4) {
        position: absolute;
        bottom: 85px;
        right: 27px;
        margin: auto;
    }

    /**-------------------------------------------- Main - Project --------------------------------------------**/
    #Project {
        width: 100%;
        height: 850px;
        position: relative;
    }

    /** Main - Project Section Background Designs*/
    /** Vector 1 */
    body > main > section#Project > section#DesignProjects img:nth-child(1) {
        top: 100px;
        width: 80px;
        height: 80px;
    }

    /** Circle Design */
    body > main > section#Project > section#DesignProjects > section > div:nth-child(1) {
        width: 60px;
        height: 60px;
        top: 100px;
        left: 1288px;
    }

    body > main > section#Project > section#DesignProjects > section > div:nth-child(2) {
        width: 60px;
        height: 60px;
        top: 124px;
        left: 1308px;
    }

    /** Vector 2 */
    body > main > section#Project > section#DesignProjects img:nth-child(3) {
        top: 493px;
        left: 470px;
        width: 125px;
    }

    /** Vector 3 */
    body > main > section#Project > section#DesignProjects img:nth-child(4) {
        top: 400px;
        left: 925px;
        width: 125px;
    }

    /** Vector 4 */
    body > main > section#Project > section#DesignProjects img:nth-child(5) {
        top: 735px;
        left: 200px;
    }

    /** Vector 5 */
    body > main > section#Project > section#DesignProjects img:nth-child(6) {
        top: 750px;
        left: 570px;
    }

    /** Vector 6 */
    body > main > section#Project > section#DesignProjects img:nth-child(7) {
        top: 750px;
        left: 1160px;
    }

    /**-------------------------------------------- Main - Services --------------------------------------------**/
    /** Main - Services Header */
    #Services {
        height: 1050px;
    }

    /** Main - Services Background Image*/
    body > main > section#Services > article > div:nth-child(5) {
        height: 1050px;
        top: 0;
    }

    /** Main - Achievements About Header */
    body > main > section#Services > article h4 {
        top: 1px;
    }

    body > main > section#Services > article > h1 {
        top: 110px;
    }

    /** Main - Achievements Header Underline */
    body > main > section#Services > article > div:nth-child(3) {
        top: 160px;
        left: 45%;
    }

    body > main > section#Services > article > div:nth-child(4) {
        top: 160px;
        left: 45%;
    }

    /** Main - Services Background Design Aside one-First Circle*/
    body > main > section#Services > section#ServicesBGDesign > aside:first-child > div:nth-child(1) {
        width: 60px;
        height: 60px;
        left: 45px;
        top: 85px;
    }

    /** Main - Services Background Design Aside one-Second Circle*/
    body > main > section#Services > section#ServicesBGDesign > aside:first-child > div:nth-child(2) {
        width: 60px;
        height: 60px;
        left: 75px;
        top: 104px;
    }

    /** Main - Services Background Design Aside Two-First Circle*/
    body > main > section#Services > section#ServicesBGDesign > aside:nth-child(2) > div:nth-child(1) {
        width: 60px;
        height: 60px;
        right: 151px;
        top: 85px;
    }

    /** Main - Services Background Design Aside Two-Second Circle*/
    body > main > section#Services > section#ServicesBGDesign > aside:nth-child(2) > div:nth-child(2) {
        width: 60px;
        height: 60px;
        right: 121px;
        top: 104px;
    }

    /** Main - Services Background Vector*/
    body > main > section#Services > section#ServicesBGDesign > img {
        width: 1460px;
    }

    /** Main - Services Development - Section*/
    body > main > section#Services > section#MainSection {
        width: 1200px;
        height: 500px;
        top: 440px;
        z-index: 1;
    }

    /** Main - Services Development - Section - Enterprise Application */
    body > main > section#Services > section#MainSection > div:nth-child(1) {
        width: calc(1400px / 4);
        height: 500px;
    }

    body > main > section#Services > section#MainSection > div:nth-child(1) > div:first-child {
        width: calc(1400px / 4);
        height: 110px;
    }

    body > main > section#Services > section#MainSection > div:nth-child(1) > div:first-child > div:first-child {
        width: 100px;
        height: 100px;
        top: 100px;
    }

    body > main > section#Services > section#MainSection > div:nth-child(1) > div:first-child > div:first-child > i {
        font-size: 50px;
        top: 25px;
        left: 20px;
    }

    body > main > section#Services > section#MainSection > div:nth-child(1) > h2 {
        top: 170px;
        left: 50px;
        font-size: 22px;
    }

    body > main > section#Services > section#MainSection > div:nth-child(1) > p {
        top: 210px;
        left: 40px;
        font-size: 18px;
    }

    /** Main - Services Development - Section - Web Development */
    body > main > section#Services > section#MainSection > div:nth-child(2) {
        width: calc(1400px / 4);
        height: 500px;
        left: 430px;
    }

    body > main > section#Services > section#MainSection > div:nth-child(2) > div:first-child {
        width: calc(1400px / 4);
        height: 110px;
    }

    body > main > section#Services > section#MainSection > div:nth-child(2) > div:first-child > div:first-child {
        width: 100px;
        height: 100px;
        top: 100px;
    }

    body > main > section#Services > section#MainSection > div:nth-child(2) > div:first-child > div:first-child > i {
        font-size: 50px;
        top: 25px;
        left: 20px;
    }

    body > main > section#Services > section#MainSection > div:nth-child(2) > h2 {
        top: 170px;
        left: 50px;
        font-size: 22px;
    }

    body > main > section#Services > section#MainSection > div:nth-child(2) > p {
        top: 210px;
        left: 40px;
        font-size: 18px;
    }

    /** Main - Services Development - Section - App Development */
    body > main > section#Services > section#MainSection > div:nth-child(3) {
        width: calc(1400px / 4);
        height: 500px;
    }

    body > main > section#Services > section#MainSection > div:nth-child(3) > div:first-child {
        width: calc(1400px / 4);
        height: 110px;
    }

    body > main > section#Services > section#MainSection > div:nth-child(3) > div:first-child > div:first-child {
        width: 100px;
        height: 100px;
        top: 100px;
    }

    body > main > section#Services > section#MainSection > div:nth-child(3) > div:first-child > div:first-child > i {
        font-size: 50px;
        top: 25px;
        left: 30px;
    }

    body > main > section#Services > section#MainSection > div:nth-child(3) > h2 {
        top: 170px;
        left: 50px;
        font-size: 22px;
    }

    body > main > section#Services > section#MainSection > div:nth-child(3) > p {
        top: 210px;
        left: 40px;
        font-size: 18px;
    }

    /**-------------------------------------------- Main - Services --------------------------------------------**/
    /** Main - Services Header */
    #HireMe {
        height: 900px;
    }

    /** Main - HireMe Header Underline */
    body > main > section#HireMe > article > div:nth-child(3) {
        top: 155px;
    }

    body > main > section#HireMe > article > div:nth-child(4) {
        top: 160px;
    }

    /** Main - HireMe Section Main */
    body > main > section#HireMe > section#HireMe_Main {
        width: 1300px;
        height: 600px;
    }

    /** Main - HireMe Section Main - Basic*/
    body > main > section#HireMe > section#HireMe_Main > section:nth-child(1) {
        width: calc(1500px / 4);
        height: 480px;
    }

    body > main > section#HireMe > section#HireMe_Main > section:nth-child(1) > div:nth-child(1) {
        width: 250px;
        height: 60px;
    }

    body > main > section#HireMe > section#HireMe_Main > section:nth-child(1) > div:nth-child(1) > h3 {
        font-size: 30px;
        top: 15px;
        left: 145px;
    }

    body > main > section#HireMe > section#HireMe_Main > section:nth-child(1) > h2 {
        font-size: 30px;
        top: 95px;
        left: 95px;
    }

    body > main > section#HireMe > section#HireMe_Main > section:nth-child(1) > h2 > sup {
        font-size: 18px;
    }

    body > main > section#HireMe > section#HireMe_Main > section:nth-child(1) > p {
        font-size: 18px;
        top: 148px;
        left: 72px;
    }

    body > main > section#HireMe > section#HireMe_Main > section:nth-child(1) > div:nth-child(4) {
        width: 220px;
        height: 8px;
        top: 202px;
        left: 78px;
    }

    body > main > section#HireMe > section#HireMe_Main > section:nth-child(1) > p:nth-child(5) {
        font-size: 22px;
        top: 230px;
        left: 65px;
    }

    /** Main - HireMe Section Main -BASIC  Button */
    body > main > section#HireMe > section#HireMe_Main > section:nth-child(1) > div#BASIC {
        position: absolute;
        top: 400px;
        left: 65px;
    }

    body > main > section#HireMe > section#HireMe_Main > section:nth-child(1) > div#BASIC > a > button {
        padding: 12px 12px 0 12px;
        font-size: 25px;
    }

    body > main > section#HireMe > section#HireMe_Main > section:nth-child(1) > div#BASIC > a > button div {
        height: 40px;
        width: 40px;
        bottom: 6px;
    }

    body > main > section#HireMe > section#HireMe_Main > section:nth-child(1) > div#BASIC > a > button i {
        left: 208px;
        top: 14px;
    }

    /** Main - HireMe Section Main - Premium*/
    body > main > section#HireMe > section#HireMe_Main > section:nth-child(2) {
        width: calc(1500px / 4);
        height: 480px;
        left: 465px;
    }

    body > main > section#HireMe > section#HireMe_Main > section:nth-child(2) > div:nth-child(1) {
        width: 250px;
        height: 60px;
    }

    body > main > section#HireMe > section#HireMe_Main > section:nth-child(2) > div:nth-child(1) > h3 {
        font-size: 30px;
        top: 15px;
        left: 125px;
    }

    body > main > section#HireMe > section#HireMe_Main > section:nth-child(2) > h2 {
        font-size: 30px;
        top: 95px;
        left: 95px;
    }

    body > main > section#HireMe > section#HireMe_Main > section:nth-child(2) > h2 > sup {
        font-size: 18px;
    }

    body > main > section#HireMe > section#HireMe_Main > section:nth-child(2) > p {
        font-size: 18px;
        top: 148px;
        left: 72px;
    }

    body > main > section#HireMe > section#HireMe_Main > section:nth-child(2) > div:nth-child(4) {
        width: 220px;
        height: 8px;
        top: 202px;
        left: 78px;
    }

    body > main > section#HireMe > section#HireMe_Main > section:nth-child(2) > p:nth-child(5) {
        font-size: 22px;
        top: 230px;
        left: 65px;
    }

    /** Main - HireMe Section Main -Premium Button */
    body > main > section#HireMe > section#HireMe_Main > section:nth-child(2) > div#PREMIUM {
        position: absolute;
        top: 400px;
        left: 65px;
    }

    body > main > section#HireMe > section#HireMe_Main > section:nth-child(2) > div#PREMIUM > a > button {
        padding: 12px 12px 0 12px;
        font-size: 25px;
    }

    body > main > section#HireMe > section#HireMe_Main > section:nth-child(2) > div#PREMIUM > a > button div {
        height: 40px;
        width: 40px;
        bottom: 6px;
    }

    body > main > section#HireMe > section#HireMe_Main > section:nth-child(2) > div#PREMIUM > a > button i {
        left: 208px;
        top: 14px;
    }

    /** Main - HireMe Section Main - ADVANCED*/
    body > main > section#HireMe > section#HireMe_Main > section:nth-child(3) {
        width: calc(1500px / 4);
        height: 480px;
    }

    body > main > section#HireMe > section#HireMe_Main > section:nth-child(3) > div:nth-child(1) {
        width: 250px;
        height: 60px;
    }

    body > main > section#HireMe > section#HireMe_Main > section:nth-child(3) > div:nth-child(1) > h3 {
        font-size: 30px;
        top: 15px;
        left: 112px;
    }

    body > main > section#HireMe > section#HireMe_Main > section:nth-child(3) > h2 {
        font-size: 30px;
        top: 95px;
        left: 95px;
    }

    body > main > section#HireMe > section#HireMe_Main > section:nth-child(3) > h2 > sup {
        font-size: 18px;
    }

    body > main > section#HireMe > section#HireMe_Main > section:nth-child(3) > p {
        font-size: 18px;
        top: 148px;
        left: 72px;
    }

    body > main > section#HireMe > section#HireMe_Main > section:nth-child(3) > div:nth-child(4) {
        width: 220px;
        height: 8px;
        top: 202px;
        left: 78px;
    }

    body > main > section#HireMe > section#HireMe_Main > section:nth-child(3) > p:nth-child(5) {
        font-size: 22px;
        top: 230px;
        left: 65px;
    }

    /** Main - HireMe Section Main - ADVANCED Button */
    body > main > section#HireMe > section#HireMe_Main > section:nth-child(3) > div#ADVANCE {
        position: absolute;
        top: 400px;
        left: 65px;
    }

    body > main > section#HireMe > section#HireMe_Main > section:nth-child(3) > div#ADVANCE > a > button {
        padding: 12px 12px 0 12px;
        font-size: 25px;
    }

    body > main > section#HireMe > section#HireMe_Main > section:nth-child(3) > div#ADVANCE > a > button div {
        height: 40px;
        width: 40px;
        bottom: 6px;
    }

    body > main > section#HireMe > section#HireMe_Main > section:nth-child(3) > div#ADVANCE > a > button i {
        left: 208px;
        top: 14px;
    }

    /** Main - HireMe Section BGDesigns -  Design */
    /*First Group*/
    /** First Circle */
    body > main > section#HireMe > section#BGDesigns > div:nth-child(1) > div:nth-child(1) {
        height: 70px;
        width: 70px;
        top: 110px;
        left: 100px;
    }

    /** Second Circle */
    body > main > section#HireMe > section#BGDesigns > div:nth-child(1) > div:nth-child(2) {
        height: 70px;
        width: 70px;
        background: #2ED573;
        border-radius: 100%;
        opacity: 30%;
        position: absolute;
        top: 135px;
        left: 130px;
        box-shadow: 0 -1px 8px 2px #1c1717e8;
    }

    /** Vector One */
    body > main > section#HireMe > section#BGDesigns > img:nth-child(2) {
        position: absolute;
        width: 120px;
        right: 130px;
        top: 110px;
    }

    /** Vector two */
    body > main > section#HireMe > section#BGDesigns > img:nth-child(3) {
        position: absolute;
        left: 280px;
        bottom: 35px;
    }

    /** Vector three */
    body > main > section#HireMe > section#BGDesigns > img:nth-child(4) {
        left: 850px;
        bottom: 35px;
    }

    /*Second Group*/
    /** First Circle */
    body > main > section#HireMe > section#BGDesigns > div:nth-child(5) > div:nth-child(1) {
        bottom: 75px;
        right: 150px;
    }

    /** Second Circle */
    body > main > section#HireMe > section#BGDesigns > div:nth-child(5) > div:nth-child(2) {
        bottom: 35px;
        right: 130px;
    }

    /**-------------------------------------------- Main - Testimonials --------------------------------------------**/
    /** Main - Testimonials Client says*/
    body > main > section#Testimonials > section#Says {
        width: 1000px;
        height: 330px;
        left: 100px;
        top: 120px;
    }

    body > main > section#Testimonials > section#Says > section > div {
        height: 312px;
        width: 312px;
    }

    /* Client says one */
    body > main > section#Testimonials > section#Says > section > div:nth-child(1) > div:nth-child(1) > p {
        font-size: 18px;
    }

    body > main > section#Testimonials > section#Says > section > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) {
        width: 100px;
        height: 100px;
    }

    body > main > section#Testimonials > section#Says > section > div:nth-child(1) > div:nth-child(2) > div:nth-child(2) h1 {
        font-size: 24px;
    }

    body > main > section#Testimonials > section#Says > section > div:nth-child(1) > div:nth-child(2) > div:nth-child(2) h2 {
        font-size: 16px;
    }

    /* Client says two */
    body > main > section#Testimonials > section#Says > section > div:nth-child(2) > div:nth-child(1) > p {
        font-size: 18px;
    }

    body > main > section#Testimonials > section#Says > section > div:nth-child(2) > div:nth-child(2) > div:nth-child(1) {
        width: 100px;
        height: 100px;
    }

    body > main > section#Testimonials > section#Says > section > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) h1 {
        font-size: 24px;
    }

    body > main > section#Testimonials > section#Says > section > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) h2 {
        font-size: 16px;
    }

    /* Client says three */
    body > main > section#Testimonials > section#Says > section > div:nth-child(3) > div:nth-child(1) > p {
        font-size: 18px;
    }

    body > main > section#Testimonials > section#Says > section > div:nth-child(3) > div:nth-child(2) > div:nth-child(1) {
        width: 100px;
        height: 100px;
    }

    body > main > section#Testimonials > section#Says > section > div:nth-child(3) > div:nth-child(2) > div:nth-child(2) h1 {
        font-size: 24px;
    }

    body > main > section#Testimonials > section#Says > section > div:nth-child(3) > div:nth-child(2) > div:nth-child(2) h2 {
        font-size: 16px;
    }


    /**-------------------------------------------- Main - Contact --------------------------------------------**/
    /** Main - Contact Header */
    #Contact {
        height: 1000px;
    }

    /** Main - Contact Header Underline */
    body > main > section#Contact > article > div:nth-child(3) {
        top: 150px;
    }

    body > main > section#Contact > article > div:nth-child(4) {
        top: 157px;
    }

    /** Main - Contact Details Box sectioning */
    body > main > section#Contact > section:nth-child(3) {
        width: 513px;
        height: 632px;
        top: 258px;
        left: 199px;
    }

    body > main > section#Contact > section:nth-child(3) > form > input:nth-child(1) {
        width: 360px;
    }

    body > main > section#Contact > section:nth-child(3) > form > input:nth-child(2) {
        width: 360px;
    }

    body > main > section#Contact > section:nth-child(3) > form > input:nth-child(3) {
        width: 360px;
    }

    body > main > section#Contact > section:nth-child(3) > form > textarea:nth-child(4) {
        width: 360px;
    }

    /** Main - Contact Details Button */
    body > main > section#Contact > section:nth-child(3) > div:nth-child(2) {
        top: 536px;
    }

    body > main > section#Contact > section:nth-child(3) > div:nth-child(2) > button {
        padding: 14px 12px 0 12px;
        font-size: 20px;
    }

    body > main > section#Contact > section:nth-child(3) > div:nth-child(2) > button > div {
        bottom: 7px;
    }

    body > main > section#Contact > section:nth-child(3) > div:nth-child(2) > button i {
        left: 182px;
        top: 14px;
        font-size: 25px;
    }


    /** Main - Contact Details - Background Design */
    body > main > section#Contact > section:nth-child(5) > img:nth-child(1) {
        top: 109px;
        left: 320px;
        width: 990px;
    }

    body > main > section#Contact > section:nth-child(5) > div:nth-child(2) {
        width: 50px;
        height: 50px;
        top: 135px;
        left: 477px;
    }

    body > main > section#Contact > section:nth-child(5) > div:nth-child(3) {
        width: 50px;
        height: 50px;
        bottom: 124px;
        right: 181px;
    }

    body > main > section#Contact > section:nth-child(5) > div:nth-child(4) {
        width: 70px;
        height: 70px;
        top: 428px;
        right: 50px;
    }

    body > main > section#Contact > section:nth-child(5) > div:nth-child(5) {
        width: 70px;
        height: 70px;
        bottom: 50px;
        right: 420px;
    }

    body > main > section#Contact > section:nth-child(5) > img:nth-child(6) {
        top: 130px;
        right: 126px;
        margin: auto;
        width: 128px;
    }

}