/**
 * @author : Nimesh Piyumantha
 * @since : 0.1.0
 **/

@media (max-width: 1536px) {
    /** Header */
    label.logo {
        font-family: "Poppins", sans-serif;
        font-weight: bold;
        font-size: 35px;
        color: #2C3E50;
        line-height: 80px;
        padding: 0 40px;
    }

    nav ul li a {
        font-family: "Poppins", sans-serif;
        font-weight: bold;
        font-size: 30px;
        color: #2C3E50;
        text-decoration: none;
        padding: 7px 13px;
        border-radius: 3px;
    }

    /** Main - Home */
    #Home {
        position: relative;
        height: 730px;
        width: 100%;
    }

    /** Main - Home- Type Text */
    .text-size-1 {
        margin-bottom: 0.2rem;
        font-size: 40px;
    }

    .text-size-2 {
        margin-bottom: 0.2rem;
        font-size: 54px;
    }

    .text-size-3 {
        margin-bottom: 0.2rem;
        font-size: 35px;
    }

    /**  Home_Content_Hire me Button */
    .btn-Hire-Me {
        padding: 15px 0 0 20px;
        height: 55px;
        font-size: 25px;
    }

    .button-content {
        position: relative;
        display: inline-block;
        bottom: 370px;
        left: 180px;
    }

    .button-Circle {
        height: 40px;
        width: 40px;
        right: 10px;
        bottom: 8px;
    }

    #arrow_details {
        left: 129px;
        bottom: 15px;
    }

    /**  Home_Content_Social Media Navigation */
    .wrapper .button {
        height: 80px;
        width: 80px;
    }

    .wrapper .button:hover {
        width: 240px;
    }

    .wrapper .button .icon {
        height: 80px;
        width: 80px;
    }

    .wrapper .button .icon i {
        font-size: 30px;
        line-height: 30px;
    }

    .wrapper .button span {
        font-size: 20px;
        margin-left: 10px;
        line-height: 30px;
        transition: all 0.3s ease-out;
    }

    .follow-content {
        bottom: 250px;
        right: 30px;
    }

    .follow-content-text {
        font-size: 40px;
    }

    /**-------------------------------------------- Main - About --------------------------------------------**/
    #About {
        width: 100%;
        height: 2080px;
    }

    /** Main - About Header */
    body > main > section > article h4 {
        font-size: 25px;
    }

    body > main > section > article > h1 {
        font-size: 33px;
    }

    body > main > section > article > h1 > span {
        font-size: 33px;
    }

    body > main > section#About > div:nth-child(3) {
        width: 80px;
    }

    /** Main - About Header Article */
    body > main > section#About > article#paragraphOne p {
        font-size: 24px;
        margin-left: 150px;
        bottom: 40px;
        padding-bottom: 1.5em;
    }

    body > main > section#About > article#paragraphTwo p {
        font-size: 24px;
        margin-left: 150px;
        bottom: 40px;
    }

    /** Main - About Image Section */
    #aboutImg {
        height: 470px;
        width: 350px;
        bottom: 280px;
        left: 930px;
    }

    /** Main - About Section Circle One Div  */
    body > main > section#About > section#image > div#circleOne {
        width: 135px;
        height: 135px;
        bottom: 600px;
        left: 1000px;
    }

    body > main > section#About > section#image > div#circleOne h1 {
        font-size: 30px;
        left: 60px;
        top: 25px;
    }

    body > main > section#About > section#image > div#circleOne h2 {
        font-size: 20px;
        left: 25px;
        top: 7px;
    }

    /** Main - About Section Circle Two Div  */
    body > main > section#About > section#image > div#circleTwo {
        width: 135px;
        height: 135px;
        bottom: 510px;
        left: 1200px;
    }

    body > main > section#About > section#image > div#circleTwo h1 {
        font-size: 30px;
        left: 40px;
        top: 6px;
    }

    body > main > section#About > section#image > div#circleTwo h2 {
        font-size: 20px;
        left: 30px;
        bottom: 8px;
    }

    /** Main - About Section Vector One Div  */
    #vectorOne {
        position: absolute;
        width: 78%;
        height: 460px;
        bottom: 1612px;
        right: 258px;
    }

    /** Main - About Section Vector Two Div  */
    #vectorTwo {
        position: absolute;
        width: 78%;
        height: 460px;
        bottom: 1587px;
        left: 103px;
    }

    /** Main - About Section Vector Star Div  */
    #vectorStar {
        position: relative;
        left: 1000px;
        bottom: 750px;
    }

    /** Main - About Section Article h3 First Child */
    #details {
        position: relative;
        bottom: 490px;
        margin-left: 150px;
    }

    body > main > section#About > article#details > h3:nth-child(1) {
        font-size: 30px;
        margin-bottom: -50px;
    }

    body > main > section#About > article#details > h3:nth-child(1) span {
        font-weight: bold;
    }

    /** Main - About Section Article h3 Second Child */
    body > main > section#About > article#details > h3:nth-child(2) {
        font-size: 30px;
        padding-left: 430px;
        padding-top: 0.5em;
    }

    body > main > section#About > article#details > h3:nth-child(2) span {
        font-weight: bold;
    }

    /** Main - About Section Article h3 Third Child */
    body > main > section#About > article#details > h3:nth-child(3) {
        font-size: 30px;
        margin-bottom: -41px;
    }

    body > main > section#About > article#details > h3:nth-child(3) span {
        font-weight: bold;
    }

    /** Main - About Section Article h3 Fourth Child */
    body > main > section#About > article#details > h3:nth-child(4) {
        font-size: 30px;
        padding-left: 430px;
    }

    body > main > section#About > article#details > h3:nth-child(4) span {
        font-weight: bold;
    }

    /** Main - About Section Article h3 Fifth Child */
    body > main > section#About > article#details > h3:nth-child(5) {
        font-size: 30px;
        margin-bottom: -41px;
    }

    body > main > section#About > article#details > h3:nth-child(5) span {
        font-weight: bold;
    }

    /** Main - About Section Article h3 Sixth Child */
    body > main > section#About > article#details > h3:nth-child(6) {
        font-size: 30px;
        padding-left: 430px;
    }

    body > main > section#About > article#details > h3:nth-child(6) span {
        font-weight: bold;
    }

    /** Main - About Section Article h3 Seventh Child */
    body > main > section#About > article#details > h3:nth-child(7) {
        font-size: 30px;
        margin-bottom: -41px;
    }

    body > main > section#About > article#details > h3:nth-child(7) span {
        font-weight: bold;
    }

    /** Main - About Section Article h3 Eight Child */
    body > main > section#About > article#details > h3:nth-child(8) {
        font-size: 30px;
        padding-left: 430px;
    }

    body > main > section#About > article#details > h3:nth-child(8) span {
        font-weight: bold;
    }

    /** Main - About Section Article h3 Ninth Child */
    body > main > section#About > article#details > h3:nth-child(9) {
        font-size: 30px;
        margin-bottom: -41px;
    }

    body > main > section#About > article#details > h3:nth-child(9) span {
        font-weight: bold;
    }

    /** Main - About Section Article h3 Tenth Child */
    body > main > section#About > article#details > h3:nth-child(10) {
        font-size: 30px;
        padding-left: 430px;
    }

    body > main > section#About > article#details > h3:nth-child(10) span {
        font-weight: bold;
    }

    /** Main - About Download CV Button */
    .btn-DownloadTwo {
        padding: 15px 0 0 20px;
        height: 55px;
        font-size: 25px;
    }

    .downloadCv_Button {
        position: relative;
        display: inline-block;
        bottom: 380px;
        left: 480px;
    }

    .button-CircleTwo {
        height: 40px;
        width: 40px;
        right: 10px;
        bottom: 8px;
    }

    #download_arrow {
        left: 24px;
    }

    /** Main - About Hire Me Button */
    .btn-Hire-MeTwo {
        padding: 15px 0 0 20px;
        height: 55px;
        font-size: 25px;
    }

    .hireMe_Button {
        position: relative;
        display: inline-block;
        bottom: 55px;
        left: 370px;
    }

    .button-CircleThree {
        height: 40px;
        width: 40px;
        right: 10px;
        bottom: 8px;
    }

    #HireMe_arrow {
        left: 129px;
        top: 15px;
    }




}