/**
 * @author : Nimesh Piyumantha
 * @since : 0.1.0
 **/


@media (min-width: 1400px) and (max-width: 1440px) {
    /** Header */
    .head {
        height: 70px;
    }

    label.logo {
        font-size: 32px;
    }

    nav ul li a {
        font-size: 27px;
    }

    /** Main - Home */
    /** Main - Home- Main Content */
    #Home {
        position: relative;
        height: 673px;
        width: 100%;
    }

    body > main > section#Home > section:nth-child(2) {
        top: 80px;
    }

    /** Main - Home- Main Content */
    body > main > section#Home > section:nth-child(2) {
        position: absolute;
        width: 1000px;
        height: 650px;
        top: 70px;
        left: 100px;
        justify-content: flex-start;
    }

    body > main > section#Home > section:nth-child(2) > section {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-end;
    }

    body > main > section#Home > section:nth-child(2) > section:nth-child(1) {
        height: 300px;
    }

    body > main > section#Home > section:nth-child(2) > section:nth-child(1) > div {
        height: 100px;
        display: flex;
    }

    body > main > section#Home > section:nth-child(2) > section:nth-child(1) > div:nth-child(1) h1 {
        font-size: 45px;
    }

    body > main > section#Home > section:nth-child(2) > section:nth-child(1) > div:nth-child(2) h1 {
        font-size: 55px;
    }

    body > main > section#Home > section:nth-child(2) > section:nth-child(1) > div:nth-child(3) h1 {
        font-size: 30px;
    }

    body > main > section#Home > section:nth-child(2) > section:nth-child(2) {
        height: 80px;
        margin-left: 50px;
    }

    /**  Home_Content_Hire me Button */
    .btn-Hire-Me {
        background-color: #2ED573;
        border-radius: 100px;
        box-shadow: 0 -1px 8px 2px #1c1717e8;
        border: none;
        color: #ECF0F3;
        padding: 20px 18px 10px 20px;
        text-align: left;
        text-decoration: none;
        display: inline-block;
        font-size: 30px;
        font-family: Poppins, sans-serif;
        font-weight: bolder;
        cursor: pointer;
    }

    .button-content {
        position: relative;
        display: inline-block;
    }

    .button-Circle {
        height: 45px;
        width: 45px;
        float: right;
        margin-left: 19px;
        background: #F9FAFB;
        border-radius: 50px;
        cursor: pointer;
        position: relative;
        bottom: 5px;
        box-shadow: inset -13px -13px 16px #FFFFFF, inset 13px 13px 16px rgba(13, 39, 80, 0.16);
    }

    #arrow_details {
        color: #2ED573;
        position: absolute;
        left: 157px;
        bottom: 22px;
        z-index: 1;
    }

    body > main > section#Home > section:nth-child(2) > section:nth-child(3) {
        height: 200px;
        margin-left: 50px;
        margin-top: 10px;
    }

    /**  Home_Content_Social Media Navigation */
    .wrapper .button {
        display: flex;
        height: 80px;
        width: 80px;
        float: left;
        margin: 0 10px;
        overflow: hidden;
        background: #95A5A6;
        border-radius: 50px;
        cursor: pointer;
        transition: all 0.3s ease-out;
        box-shadow: 0 -1px 8px 2px #1c1717e8;
    }

    .wrapper .button:hover {
        width: 260px;
    }

    .wrapper .button .icon {
        display: inline-block;
        height: 80px;
        width: 80px;
        text-align: center;
        border-radius: 50px;
        box-sizing: border-box;
        line-height: 100px;
        transition: all 0.3s ease-out;
    }

    .wrapper .button:nth-child(1):hover .icon {
        background: #3b5998;
    }

    .wrapper .button:nth-child(2):hover .icon {
        background: #0A66C2;
    }

    .wrapper .button:nth-child(3):hover .icon {
        background: #1DA1F2;
    }

    .wrapper .button:nth-child(4):hover .icon {
        background: #333;
    }

    .wrapper .button:nth-child(5):hover .icon {
        background: #F47F24;
    }

    .wrapper .button .icon i {
        font-size: 30px;
        line-height: 50px;
        transition: all 0.3s ease-out;
        color: #2C3E50;
    }

    .wrapper .button:hover .icon i {
        color: #fff;
    }

    .wrapper .button span {
        font-size: 20px;
        font-weight: bolder;
        line-height: 100px;
        margin-left: 10px;
        transition: all 0.3s ease-out;
    }

    .wrapper .button:nth-child(1) span {
        color: #3b5998;
    }

    .wrapper .button:nth-child(2) span {
        color: #0A66C2;
    }

    .wrapper .button:nth-child(3) span {
        color: #1DA1F2;
    }

    .wrapper .button:nth-child(4) span {
        color: #333;
    }

    .wrapper .button:nth-child(5) span {
        color: #F47F24;
    }

    .follow-content {
        position: relative;
        display: inline-block;
        margin-top: 10px;
    }

    .follow-content-text {
        font-size: 40px;
        font-weight: bolder;
        margin-bottom: 2rem;
    }


}