/**
 * @author : Nimesh Piyumantha
 * @since : 0.1.0
 **/

@media (max-width: 375px) {

    /**-------------------------------------------- Main - Home --------------------------------------------**/
    body > main > section#Home > section:nth-child(2) {
        top: 10px;
    }
    body > main > section#Home > section:nth-child(2) > section:nth-child(1) > div {
        height: calc(76px / 3);
        display: flex;
    }
    body > main > section#Home > section:nth-child(2) > section:nth-child(1) > div:nth-child(1) h1 {
        font-size: 12px;
    }

    body > main > section#Home > section:nth-child(2) > section:nth-child(1) > div:nth-child(2) h1 {
        font-size: 12px;
    }

    body > main > section#Home > section:nth-child(2) > section:nth-child(1) > div:nth-child(3) h1 {
        font-size: 10px;
    }


}