/**
 * @author : Nimesh Piyumantha
 * @since : 0.1.0
 **/

@media (max-width: 320px) {
    /**-------------------------------------------- Main - Home --------------------------------------------**/
    body > main > section#Home > section:nth-child(2) > section:nth-child(1) > div {
        height: calc(68px / 3);
        display: flex;
    }
    body > main > section#Home > section:nth-child(2) > section:nth-child(1) {
        height: 90px;
    }
    body > main > section#Home > section:nth-child(2) {
        top: -4px;
    }
    body > main > section#Home > section:nth-child(2) > section:nth-child(3) {
        height: 86px;
        margin-left: -28px;
        margin-top: -110px;
    }
    .follow-content-text {
        font-size: 12px;
        margin-bottom: 0.6rem;
    }
    body > main > section#Home > section:nth-child(2) > section:nth-child(3) {
        height: 86px;
        margin-left: -40px;
        margin-top: -112px;
    }
    .wrapper .button {
        display: flex;
        height: 20px;
        width: 20px;
    }
    .wrapper .button .icon {
        height: 23px;
        width: 22px;
        line-height: 16px;
    }
    .wrapper .button .icon i {
        font-size: 10px;
        line-height: 0;
    }

    /**-------------------------------------------- Main - About --------------------------------------------**/
    body > main > section#About > div:nth-child(2) {
        left: 37%;
    }
    body > main > section#About > div:nth-child(3) {
        left: 37%;
    }

    #aboutImg {
        height: 234px;
        width: 163px;
        bottom: 119px;
        left: 84px;
    }
    body > main > section#About > section#image > div#circleOne {
        width: 60px;
        height: 60px;
        bottom: 360px;
        left: 54px;
    }
    body > main > section#About > section#image > div#circleTwo {
        width: 60px;
        height: 60px;
        bottom: 315px;
        left: 53px;
    }
    /**-------------------------------------------- Main - Skills --------------------------------------------**/
}
