<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home|Web POS</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <!--link Bootstrap Framework-->
    <link href="assets/styles/bootstrap-5.2.1-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/fonts/css/all.min.css" rel="stylesheet">
</head>
<body>

<!--Import js for bootstrap-->
<script src="assets/styles/bootstrap-5.2.1-dist/js/bootstrap.min.js"></script>
</body>
</html>