<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Item|Web POS</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <!--link Bootstrap Framework-->
    <link href="assets/styles/bootstrap-5.2.1-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/fonts/css/all.min.css" rel="stylesheet">
</head>
<body>
<header>
    <!--Nav started-->
    <nav class="navbar navbar-expand-lg navbar-light shadow-lg posNavi position-relative rounded-bottom">
        <div class="container-fluid">
            <a class="navbar-brand text-dark fw-bold " href="#">
                <img alt="Logo" class="d-inline-block align-text-center" height="44" src="assets/images/logo.png"
                     width="50">
                <span class="text-success"> Nimesh </span> POS System
            </a>
            <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                    class="navbar-toggler" data-bs-target="#navbarSupportedContent"
                    data-bs-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a aria-current="page" class="nav-link" href="../index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="customer.html">Customer</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="item.html">Items</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="orders.html">Orders</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
                           role="button">
                            Others
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button class="btn btn-outline-primary btn-m" type="button"><i class="fa-solid fa-user-plus"></i>
                        Sign Up
                    </button>
                    <button class="btn btn-outline-secondary" type="button"><i
                            class="fa-solid fa-right-from-bracket"></i> Log Out
                    </button>
                </div>
            </div>
        </div>
    </nav>
    <!--Nav ended-->
</header>

<main class="container-fluid">
    <!-- Item Header Start -->
    <div class="container d-flex flex-grow-1 flex-column">
        <div class="position-relative d-inline-block mt-3 mt-lg-4 mt-md-4">
            <h2 id="H1-1" style="font-family: 'Arial Rounded MT Bold',serif"><i
                    class="fa-sharp fa-solid fa-computer"></i> Item
            </h2>
        </div>
    </div>
    <!-- Item Header End -->

    <!-- Item Header Section Start -->
    <div class="container d-flex flex-grow-1 flex-column" style="background-color: #dfe4ea">
        <div class="position-relative d-inline-block mt-3 mt-lg-4 mt-md-4">
            <h6 id="H6-1">Home > Item</h6>
            <hr>
        </div>
        <!-- Item Header Section End -->

        <!-- Item Details Section Start -->
        <div class="row justify-content-around" style="height: max-content">

            <!-- Item Details Search Section Start -->
            <div class="col-10 col-md-5 col-lg-4 p-0 mt-2 rounded-3" style="background-color: white">
                <h4 class="text-center p-2 text-light rounded-3" style="background: #16A085">Search Item</h4>
                <form>
                    <div class="mb-3 ms-3 me-3 ">
                        <input class="form-control me-2" id="ItemId"
                               placeholder="Input Name/Code/Tp Here"
                               type="search">
                    </div>
                    <button class="btn btn-primary ms-3 mb-3 ms-md-3 ms-lg-3 btn-success" type="button">Search</button>
                    <button class="btn btn-warning ms-3 mb-3 ms-md-3 ms-lg-3" type="button">Clear</button>
                </form>
            </div>
            <!-- Item Details Search Section End -->

            <!-- Item Details Button Section Start -->
            <div class="col-10 col-md-5 col-lg-5 mt-2">
                <button class="btn btn-success mt-2 m-1" data-bs-target="#registerItem"
                        data-bs-toggle="modal" id="btnAddItem" type="button">+ New Item
                </button>

                <button class="btn btn-warning mt-2 m-1" data-bs-target="#updateItem"
                        data-bs-toggle="modal" type="button">Update Item
                </button>

                <button class="btn btn-danger mt-2 m-1" data-bs-target="#deleteItem"
                        data-bs-toggle="modal" type="button">Delete Item
                </button>

                <button class="btn btn-primary mt-2 m-1" type="button" id="btnViewAllItems">View All Item</button>
            </div>
            <!-- Item Details Button Section End -->
        </div>
        <!-- Item Details Section End -->

        <!-- View Item Details Table Start -->
        <div class="row mt-1 mt-md-2 mt-lg-5 justify-content-around" style="height: 250px;">
            <div class="col-10">
                <div class="ItemTableDiv overflow-auto" style="height: 200px;">
                    <table class="table table-success table-striped table-bordered table-hover">
                        <thead class="text-light table-dark text-center  table-bordered sticky-top">
                        <tr>
                            <th>Item Code</th>
                            <th>Item Name</th>
                            <th>Quantity</th>
                            <th>Price</th>
                        </tr>
                        </thead>
                        <tbody id="ItemTable"></tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- View Item Details Table End -->
    </div>
</main>

<!-- Modal - Add Item Start-->
<div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="registerItem" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background: #16A085">
                <h5 class="modal-title text-light">Add Item</h5>
                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="ms-3 me-3">
                        <label class="form-label fw-bold mb-0" for="txtItemsId">Item Code :</label>
                        <input class="form-control" id="txtItemsId"
                               type="text">
                    </div>
                    <div class="ms-3 me-3">
                        <label class="form-label fw-bold mb-0" for="txtItemName">Item Name :</label>
                        <input class="form-control" id="txtItemName"
                               type="text">
                    </div>
                    <div class="ms-3 me-3">
                        <label class="form-label fw-bold mb-0" for="txtItemQty">Quantity :</label>
                        <input class="form-control" id="txtItemQty"
                               type="text">
                    </div>
                    <div class="ms-3 me-3">
                        <label class="form-label fw-bold mb-0" for="txtItemPrice">Price :</label>
                        <input class="form-control" id="txtItemPrice"
                               type="number">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Close</button>
                <button class="btn btn-warning" type="reset" id="btnClearI">Clear</button>
                <button class="btn btn-primary" type="button" id="btnISave">Save changes</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal - Add Item End-->

<!-- Modal Update Item Start-->
<div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="updateItem" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header  bg-warning">
                <h5 class="modal-title text-dark">Update Item</h5>
                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="ms-3 me-3">
                        <label class="form-label fw-bold mb-0" for="searchItemId">Search Item Code :</label>
                        <input class="form-control" id="searchItemId"
                               type="text">
                    </div>
                    <div class="ms-3 me-3">
                        <label class="form-label fw-bold mb-0" for="updateItemName">Item Name :</label>
                        <input class="form-control" id="updateItemName"
                               type="text">
                    </div>
                    <div class="ms-3 me-3">
                        <label class="form-label fw-bold mb-0" for="updateItemQty">Quantity :</label>
                        <input class="form-control" id="updateItemQty"
                               type="text">
                    </div>
                    <div class="ms-3 me-3">
                        <label class="form-label fw-bold mb-0" for="updateItemPrice">Price :</label>
                        <input class="form-control" id="updateItemPrice"
                               type="number">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Close</button>
                <button class="btn btn-warning" type="reset" id="btnUclearI">Clear</button>
                <button class="btn btn-primary" type="button" id="btnUpdateItem">Save changes</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal Update Item End-->

<!-- Modal Delete Item Start -->
<div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="deleteItem" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header  bg-danger">
                <h5 class="modal-title text-light">Delete Item</h5>
                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="ms-3 me-3">
                        <label class="form-label fw-bold mb-0" for="searchDItemId">Search Item Code :</label>
                        <input class="form-control" id="searchDItemId"
                               type="text">
                    </div>
                    <fieldset disabled>
                        <div class="ms-3 me-3">
                            <label class="form-label fw-bold mb-0" for="DItemName">Item Name :</label>
                            <input class="form-control disabled" id="DItemName"
                                   type="text">
                        </div>
                        <div class="ms-3 me-3">
                            <label class="form-label fw-bold mb-0" for="DItemQty">Quantity :</label>
                            <input class="form-control disabled" id="DItemQty"
                                   type="text">
                        </div>
                        <div class="ms-3 me-3">
                            <label class="form-label fw-bold mb-0" for="DItemPrice">Price :</label>
                            <input class="form-control disabled" id="DItemPrice" type="number">
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Close</button>
                <button class="btn btn-warning" type="reset" id="btnDclearI">Clear</button>
                <button class="btn btn-danger" type="button">Delete</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal Delete Item End -->

<!--Import js for bootstrap-->
<script src="assets/styles/bootstrap-5.2.1-dist/js/bootstrap.min.js"></script>
<script src="assets/styles/jQuery/jquery-3.6.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.33/dist/sweetalert2.all.min.js"></script>
<script rel="script" src="assets/styles/script/item.js"></script>
</body>
</html>