<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer|Web POS</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <!--link Bootstrap Framework-->
    <link href="assets/styles/bootstrap-5.2.1-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/fonts/css/all.min.css" rel="stylesheet">
</head>
<body>
<header>
    <!--Nav started-->
    <nav class="navbar navbar-expand-lg navbar-light shadow-lg posNavi position-relative rounded-bottom">
        <div class="container-fluid">
            <a class="navbar-brand text-dark fw-bold " href="#">
                <img alt="Logo" class="d-inline-block align-text-center" height="44" src="assets/images/logo.png"
                     width="50">
                <span class="text-success"> Nimesh </span> POS System
            </a>
            <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                    class="navbar-toggler" data-bs-target="#navbarSupportedContent"
                    data-bs-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a aria-current="page" class="nav-link" href="index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="customer.html">Customer</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="item.html">Items</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="orders.html">Orders</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
                           role="button">
                            Others
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button class="btn btn-outline-primary btn-m" type="button"><i class="fa-solid fa-user-plus"></i>
                        Sign Up
                    </button>
                    <button class="btn btn-outline-secondary" type="button"><i
                            class="fa-solid fa-right-from-bracket"></i> Log Out
                    </button>
                </div>
            </div>
        </div>
    </nav>
    <!--Nav ended-->
</header>

<main class="container-fluid">
    <!-- Order Header Start -->
    <div class="container d-flex flex-grow-1 flex-column">
        <div class="position-relative d-inline-block mt-3 mt-lg-4 mt-md-4">
            <h2 id="H1-1" style="font-family: 'Arial Rounded MT Bold',serif"><i
                    class="fa-sharp fa-solid fa-cart-plus"></i> Place Order
            </h2>
        </div>
    </div>
    <!-- Order Header End -->

    <!-- Order Header Section Start -->
    <div class="container d-flex flex-grow-1 flex-column" style="background-color: #dfe4ea">
        <div class="position-relative d-inline-block mt-3 mt-lg-4 mt-md-4">
            <h6 id="H6-1">Home > Place Order</h6>
            <hr>
        </div>
        <!-- Order Header Section End -->

        <!-- Order Details Section Start -->
        <div class="row justify-content-around " style="height: min-content">

            <!-- Order Invoice Details Section Start -->
            <div class="col-10 col-md-5 col-lg-4 p-3 mt-3" style="background-color: white">
                <h5 class="text-center bg-success p-2 text-light">Invoice Details</h5>
                <div class="row mt-1">
                    <div class="col-12 col-md-6 col-lg-6">
                        <label class="fw-bold" for="orderId">Order ID :</label>
                        <input class="form-control border-dark" id="orderId" type="text">
                    </div>
                    <div class="col-12 col-md-6 col-lg-6">
                        <label class="fw-bold" for="orderDate">Order Date :</label>
                        <input class="form-control border-dark" id="orderDate" type="date">
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-12 col-md-6 col-lg-6">
                        <label class="fw-bold" for="customerId">Customer ID :</label>
                        <select aria-label="Default select example" class="form-select border-dark" id="customerId">
                            <option selected>-Select Customer-</option>
                            <option value="1">C001</option>
                            <option value="2">C002</option>
                            <option value="3">C003</option>
                            <option value="4">C004</option>
                        </select>
                    </div>
                    <div class="col-12 col-md-6 col-lg-6">
                        <label class="fw-bold" for="customerName">Name :</label>
                        <input class="form-control border-dark" disabled id="customerName" type="text">
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-12 col-md-6 col-lg-6">
                        <label class="fw-bold" for="customerAddress">Address :</label>
                        <input class="form-control border-dark" disabled id="customerAddress" type="text">
                    </div>
                    <div class="col-12 col-md-6 col-lg-6">
                        <label class="fw-bold" for="customerSalary">Salary :</label>
                        <input class="form-control border-dark" disabled id="customerSalary" type="text">
                    </div>
                </div>
            </div>
            <!-- Order Invoice Details Section End -->

            <!-- Order Item Details Section Start -->
            <div class="col-10 col-md-5 col-lg-4 p-3 mt-3" style="background-color: white">
                <h5 class="text-center bg-success p-2 text-light">Item Details</h5>
                <div class="row mt-1">
                    <div class="col-12 col-md-6 col-lg-6">
                        <label class="fw-bold" for="itemcode">Item Code :</label>
                        <select aria-label="Default select example" class="form-select border-dark" id="itemcode">
                            <option selected>-Select Item-</option>
                            <option value="1">I001</option>
                            <option value="2">I002</option>
                            <option value="3">I003</option>
                            <option value="4">I004</option>
                        </select>
                    </div>
                    <div class="col-12 col-md-6 col-lg-6">
                        <label class="fw-bold" for="itemName">Item Name :</label>
                        <input class="form-control border-dark" disabled id="itemName" type="text">
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-12 col-md-6 col-lg-6">
                        <label class="fw-bold" for="itemPrice">Unit Price :</label>
                        <input class="form-control border-dark" disabled id="itemPrice" type="text">
                    </div>
                    <div class="col-12 col-md-6 col-lg-6">
                        <label class="fw-bold" for="qtyOnHand">Qty On Hand :</label>
                        <input class="form-control border-dark" disabled id="qtyOnHand" type="text">
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-12 col-md-6 col-lg-6">
                        <label class="fw-bold" for="buyQty">Buy Qty :</label>
                        <input class="form-control border-dark" id="buyQty" type="text">
                    </div>
                    <div class="col-12 col-md-6 col-lg-6 mt-4 ">
                        <button class="btn btn-primary rounded-2" type="submit">Add To Cart</button>
                    </div>
                </div>
            </div>
            <!-- Order Item Details Section End -->

            <!-- Order Details Section Start -->
            <div class="col-10 col-md-5 col-lg-3 p-3 mt-3" style="background-color: white">
                <h5 class="text-center bg-secondary p-2 text-light">Payment Details</h5>
                <div class="row mt-1">
                    <div class="col-12 col-md-6 col-lg-6">
                        <label class="fw-bold" for="total">Total :</label>
                        <input class="form-control border-dark" disabled id="total" type="number">
                    </div>
                    <div class="col-12 col-md-6 col-lg-6">
                        <label class="fw-bold" for="discount">Discount :</label>
                        <input class="form-control border-dark" id="discount" role="spinbutton" type="number">
                    </div>
                </div>

                <div class="row mt-1">
                    <div class="col-12 col-md-6 col-lg-6">
                        <label class="fw-bold" for="subTotal">Sub Total :</label>
                        <input class="form-control border-dark" disabled id="subTotal" type="number">
                    </div>
                    <div class="col-12 col-md-6 col-lg-6">
                        <label class="fw-bold" for="cash">Cash :</label>
                        <input class="form-control border-dark" id="cash" type="text">
                    </div>
                </div>

                <div class="row mt-1">
                    <div class="col-12 col-md-6 col-lg-6">
                        <label class="fw-bold" for="balance">Balance :</label>
                        <input class="form-control border-dark" disabled id="balance" type="number">
                    </div>
                    <div class="col-12 col-md-6 col-lg-6 mt-4">
                        <button class="btn btn-success rounded-2" type="submit">Purchase</button>
                    </div>
                </div>
            </div>
            <!-- Order Details Section End -->

            <!--clear All Button Section Start-->
            <div class="d-grid col-12 col-md-2 mt-4">
                <button class="btn btn-danger rounded-2 bold" type="reset">Clear All</button>
            </div>
            <!--clear All Button Section end-->

            <!-- View Cart Details Table Start -->
            <div class="row mt-1 mt-md-2 mt-lg-3 justify-content-around" style="height: 250px;">
                <div class="col-10">
                    <div class="customerTableDiv overflow-auto" style="height: 200px;">
                        <table class="table table-success table-striped table-bordered table-hover">
                            <thead class="text-light table-dark text-center  table-bordered sticky-top">
                            <tr>
                                <th>Item Code</th>
                                <th>Item Name</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Total</th>
                            </tr>
                            </thead>
                            <tbody id="customerTable">
                            <tr>
                                <td>I00-001</td>
                                <td>DDR4 8GB Laptop Ram</td>
                                <td>20,000</td>
                                <td>2</td>
                                <td>40,000</td>
                            </tr>
                            <tr>
                                <td>I00-002</td>
                                <td>MSI GF63 Laptop</td>
                                <td>320,000</td>
                                <td>1</td>
                                <td>320,000</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- View Cart Details Table End -->

        </div>
        <!-- Order Details Section End -->
    </div>
</main>


<!--Import js for bootstrap-->
<script src="assets/styles/bootstrap-5.2.1-dist/js/bootstrap.min.js"></script>
</body>
</html>