@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

/** Header  */

.head {
    background: #F8F7F3;
    height: 90px;
    width: 100%;
}

label.logo {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 40px;
    color: #2C3E50;
    line-height: 80px;
    padding: 0 50px;

}

/** Colors */
.text-primary {
    color: #ED6436;
}

.text-black {
    color: #2C3E50;
}

.text-green {
    color: #2ED573;
}
/*---------------------------*/

.text-size-1 {
    margin-bottom: 0.7rem;
    font-family: Poppins, sans-serif;
    font-size: 60px;
    font-weight: bolder;
    align-items: center;
}

.text-size-2 {
    margin-bottom: 0.7rem;
    font-family: Poppins, sans-serif;
    font-size: 70px;
    font-weight: bolder;
    align-items: center;
}

.text-size-3 {
    margin-bottom: 0.7rem;
    font-family: Poppins, sans-serif;
    font-size: 45px;
    font-weight: bolder;
    align-items: center;
}
/*---------------------------*/
@media (max-width: 950px){
    .text-size-1{
        font-size: calc(60px - 50px);
        margin-bottom: 0.02rem;
    }
    .text-size-2{
        font-size: calc(70px - 60px);
        margin-bottom: 0.02rem;
    }
    .text-size-3{
        font-size: calc(45px - 30px);
        margin-bottom: 0.02rem;
    }
}

@media (max-width: 1500px) {
    .text-size-1{
        font-size: calc(60px - 10px);
        margin-bottom: 0.02rem;
    }
    .text-size-2{
        font-size: calc(70px - 25px);
        margin-bottom: 0.2rem;
    }
    .text-size-3{
        font-size: calc(45px - 20px);
        margin-bottom: 0.2rem;
    }
}

.justify-content-center {
    position: relative;
    display: block;
    float: left;
    width: 100%;
    margin-right: -100%;
}

.carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.carousel-caption {
    position: relative;
    left: 5%;
    padding-top: 10%;
    text-align: left;
}
/*---------------------------*/

.head .link_Nav {
    float: right;
    margin-right: 20px;
}

.head .link_Nav li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 36px;
    color: #2C3E50;
    text-decoration: none;
    padding: 7px 13px;
    border-radius: 3px;

}

a:hover {
    text-decoration: overline;
    text-decoration-thickness: 10px;
}

a.active, a:hover {
    color: #2ED573;
}

.checkBtn {
    font-size: 30px;
    color: #ED6436;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media (max-width: 952px) {
    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }

    .head .link_Nav li a {
        font-size: 16px;
    }
}

@media (max-width: 950px) {
    .checkBtn {
        display: block;
    }

    .justify-content-center{
        position: inherit;
    }

    .link_Nav {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #E8F0EE;
        top: 80px;
        left: -120%;
        text-align: center;
        transition: all .5s;
    }

    .head .link_Nav li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    .head .link_Nav li a {
        font-size: 20px;
    }

    a:hover, a.active {
        background: none;
        color: #FF6348;
    }

    #check:checked ~ .link_Nav {
        left: 0;
    }
}

/** Main - Home */
.img {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}