/**
 * @author : Nimesh Piyumantha
 * @since : 0.1.0
 **/

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

body {
    position: relative;
    height: 300vh;
}

/*Fixed Gray Circle */
body > div:nth-child(1) {
    border: 19px solid gray;
    width: 260px;
    height: 260px;
    border-radius: 260px;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    z-index: 1;
}

/*Fixed red Circle */
body > div:nth-child(2) {
    border: 19px solid red;
    width: 230px;
    height: 230px;
    border-radius: 230px;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    z-index: 1;
}

body > section > div {
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

/*Absolute Pink Circle */
body>section:nth-child(3){
    position: absolute;
    background-color: #943F7B;
    width: 230px;
    height: 230px;
    border-radius: 230px;
    top: 366px;
    left: 0;
    right: 0;
    margin: auto;
}
body > section:nth-child(3) > div > p {
    margin-top: 100px;
}

/*Absolute Blue Circle */
body>section:nth-child(4){
    position: absolute;
    background-color: #1C98BC;
    width: 230px;
    height: 230px;
    border-radius: 230px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
body > section:nth-child(4) > div > p {
    margin-top: 100px;
}