/**
 * @author : Nimesh Piyumantha
 * @since : 0.1.0
 **/

section{
    width: 1200px;
    height: 600px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    display: grid;
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: repeat(4,1fr);
    gap: 9px;
}
section>div{
    box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.68);
}

section > div:nth-child(1){
    background: url("/assignment/CSS/Basics/case_5/assets/img/01.jpg");
    background-size: cover;
    background-position: center;
}

section > div:nth-child(2){
    background: url("/assignment/CSS/Basics/case_5/assets/img/02.jpg");
    background-size: cover;
    background-position: center;
}

section > div:nth-child(3) {
    background: url("/assignment/CSS/Basics/case_5/assets/img/03.jpg");
    background-size: cover;
    background-position: center;
}

section > div:nth-child(4){
    background: url("/assignment/CSS/Basics/case_5/assets/img/04.jpg");
    background-size: cover;
    background-position: center;
}

section > div:nth-child(5){
    background: url("/assignment/CSS/Basics/case_5/assets/img/05.jpg");
    background-size: cover;
    background-position: center;
}

section > div:nth-child(6){
    background: url("/assignment/CSS/Basics/case_5/assets/img/06.jpg");
    background-size: cover;
    background-position: center;
}

section > div:nth-child(7){
    background: url("/assignment/CSS/Basics/case_5/assets/img/07.jpg");
    background-size: cover;
    background-position: center;
}

section > div:nth-child(8){
    background: url("/assignment/CSS/Basics/case_5/assets/img/08.jpg");
    background-size: cover;
    background-position: center;
}

section > div:nth-child(9){
    background: url("/assignment/CSS/Basics/case_5/assets/img/09.jpg");
    background-size: cover;
    background-position: center;
}

section > div:nth-child(10){
    background: url("/assignment/CSS/Basics/case_5/assets/img/10.jpg");
    background-size: cover;
    background-position: center;
}

section > div:nth-child(11){
    background: url("/assignment/CSS/Basics/case_5/assets/img/11.jpg");
    background-size: cover;
    background-position: center;
}

section > div:nth-child(12){
    background: url("/assignment/CSS/Basics/case_5/assets/img/12.jpg");
    background-size: cover;
    background-position: center;
}